Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier, frontend-lint, frontend-typecheck, deptry, depcheck

Path conditions:
  pyright: any of: ^backend/src/worth_it/
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: ^(frontend/playwright-report/|frontend/test-results/|frontend/lib/generated/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/lib/generated/
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/lib/generated/
  deptry: any of: ^backend/(pyproject\.toml|uv\.lock)$
  depcheck: any of: ^frontend/package\.json$

feat(valuation): add Comparable Transactions valuation method
  backend/src/worth_it/calculations/comparables.py
  backend/tests/test_comparables.py
Due: pyright

feat(valuation): add WACC calculator with CAPM cost of equity
  backend/src/worth_it/calculations/wacc.py
  backend/tests/test_wacc.py
Due: pyright

feat(api): add Phase 6 advanced valuation API endpoints
  backend/src/worth_it/api/routers/valuation.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

feat(frontend): add Zod schemas and API client for Phase 6 valuation methods
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

test(e2e): add Phase 6 advanced valuation methods API tests
  playwright/tests/27-valuation-calculator.spec.ts
Due: none

fix(valuation): align validation bounds between API and calculation models
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(valuation): add Weighted Average valuation synthesis
  backend/src/worth_it/calculations/weighted_average.py
  backend/tests/test_weighted_average.py
Due: pyright

feat(valuation): add Real Options valuation using Black-Scholes
  backend/src/worth_it/calculations/real_options.py
  backend/tests/test_real_options.py
Due: pyright

feat(valuation): add Enhanced DCF with multi-stage growth modeling
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

fix(e2e): update Playwright tests for touch-friendly SliderField components
  playwright/tests/02-form-interactions.spec.ts
  playwright/tests/03-rsu-form.spec.ts
  playwright/tests/04-stock-options-form.spec.ts
  playwright/utils/helpers.ts
Due: none

refactor(backend): extract magic numbers, fix lint violations, improve type safety
  backend/.python-version
  backend/CLAUDE.md
  backend/pyproject.toml
  backend/src/worth_it/api/routers/monte_carlo.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/base.py
  backend/src/worth_it/calculations/cap_table.py
  backend/src/worth_it/calculations/comparables.py
  backend/src/worth_it/calculations/comparison.py
  backend/src/worth_it/calculations/investment_strategies.py
  backend/src/worth_it/calculations/monte_carlo_simulation.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/calculations/valuation.py
  backend/src/worth_it/calculations/waterfall_engine.py
  backend/src/worth_it/config.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
  backend/src/worth_it/reports/__init__.py
  backend/src/worth_it/reports/builder.py
  backend/src/worth_it/reports/negotiation.py
  backend/src/worth_it/reports/pdf_generator.py
  backend/src/worth_it/services/__init__.py
  backend/tests/test_api.py
  backend/tests/test_bug_fixes.py
  backend/tests/test_calculations.py
  backend/tests/test_monte_carlo_simulation.py
  backend/uv.lock
Due: pyright, deptry

fix(ui): align design with Fundcy references - card shadows, dark mode, layout
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/forms/company-stage-selector.tsx
  frontend/components/layout/bottom-nav.tsx
  frontend/components/layout/header.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/error-card.tsx
  frontend/components/ui/metric-carousel.tsx
  frontend/components/ui/progress.tsx
  frontend/components/ui/select.tsx
Due: prettier, frontend-lint, frontend-typecheck

chore: migrate to pnpm, update CI workflows, add new E2E tests
  .github/copilot-instructions.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  README.md
  frontend/CLAUDE.md
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.prod.ts
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/run-ui-tests.sh
  package-lock.json
  package.json
  playwright.config.local.ts
  playwright.config.ts
  playwright/README.md
  playwright/tests/29-command-palette-navigation.spec.ts
  playwright/tests/30-i18n-rtl.spec.ts
  playwright/tests/31-valuation-monte-carlo-websocket.spec.ts
  playwright/tests/32-pre-revenue-valuation-ui.spec.ts
  pnpm-lock.yaml
  scripts/generate-types.sh
  scripts/run-e2e-tests.sh
  scripts/start.bat
  scripts/start.sh
Due: prettier, frontend-lint, frontend-typecheck, depcheck

chore: add screenshots and .playwright-mcp to .gitignore
  .gitignore
Due: none

feat(frontend): add dilution method toggle ("By Percentage" vs "By Valuation")
  frontend/__tests__/components/forms/dilution-round-form.test.tsx
  frontend/__tests__/components/forms/dilution-summary-card.test.tsx
  frontend/__tests__/lib/dilution-utils.test.ts
  frontend/components/forms/dilution-round-form.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/constants/funding-rounds.ts
  frontend/lib/dilution-utils.ts
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(backend): add ruff per-file-ignores for test-specific lint rules
  backend/pyproject.toml
Due: deptry

fix(ci): fix frontend pnpm setup order, resolve mypy type error
  .github/workflows/test.yml
  backend/src/worth_it/api/routers/valuation.py
Due: pyright

fix(ci): let pnpm version resolve from package.json packageManager field
  .github/workflows/test.yml
Due: none

fix(frontend): resolve no-param-reassign lint error in accessibility test
  frontend/tests/accessibility.spec.ts
Due: prettier, frontend-lint, frontend-typecheck

chore(claude): drop project-level plugin config
  .claude/settings.json
Due: none

fix: close the four real defects from the CodeRabbit review
  backend/src/worth_it/api/dependencies.py
  backend/tests/test_config_env.py
  backend/tests/test_rate_limit_key.py
  frontend/__tests__/components/cap-table/waterfall-analysis.test.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/preference-stack-editor.tsx
  frontend/components/cap-table/waterfall-analysis.tsx
  playwright/tests/09-waterfall-analysis.spec.ts
Due: pyright, prettier, frontend-lint, frontend-typecheck

chore: apply the remaining CodeRabbit findings
  .github/workflows/playwright.yml
  backend/src/worth_it/api/routers/cap_table.py
  backend/src/worth_it/api/routers/export.py
  backend/src/worth_it/api/routers/monte_carlo.py
  backend/src/worth_it/calculations/waterfall_engine.py
  backend/src/worth_it/config.py
  backend/src/worth_it/monte_carlo.py
  backend/tests/conftest.py
  backend/tests/test_config_env.py
  backend/tests/test_export_filenames.py
  backend/tests/test_export_hardening.py
  backend/tests/test_options_monte_carlo.py
  backend/tests/test_request_bounds.py
  backend/tests/test_router_offload_and_seed_contract.py
  backend/tests/test_waterfall_engine.py
  backend/tests/test_waterfall_preferred.py
  frontend/__tests__/components/cap-table/waterfall-analysis.test.tsx
  frontend/__tests__/components/valuation/export-button.test.tsx
  frontend/__tests__/lib/cap-table-shares.test.ts
  frontend/__tests__/lib/schemas.test.ts
  frontend/lib/cap-table-shares.ts
  frontend/lib/schemas.ts
Due: pyright, prettier, frontend-lint, frontend-typecheck

fix: regenerate the OpenAPI schemas and repair the generator
  frontend/eslint.config.mjs
  frontend/lib/generated/api-schemas.ts
  frontend/test-results/.last-run.json
  scripts/generate-types.sh
Due: none

fix(frontend): make the E2E backend port overridable
  frontend/playwright-report/index.html
  frontend/playwright.config.ts
Due: prettier, frontend-lint, frontend-typecheck

chore: stop tracking the generated Playwright report
  frontend/playwright-report/index.html
Due: none

fix(frontend): probe /health for backend readiness in E2E configs
  frontend/playwright.config.prod.ts
  frontend/playwright.config.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): repair six accessibility defects axe was already reporting
  frontend/__tests__/components/form-warning.test.tsx
  frontend/components/forms/global-settings-form.tsx
  frontend/components/forms/stock-options-form.tsx
  frontend/components/ui/command.tsx
  frontend/components/ui/form-warning.tsx
  frontend/components/ui/information-box.tsx
  frontend/components/ui/slider.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): make "Focus Missing Field" actually move focus
  frontend/__tests__/components/form-fields.test.tsx
  frontend/__tests__/lib/validation.test.ts
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/forms/form-fields.tsx
  frontend/lib/validation.ts
  frontend/tests/empty-state-actions.spec.ts
Due: prettier, frontend-lint, frontend-typecheck

test(frontend): repair the bit-rotted specs in frontend/tests
  frontend/tests/accessibility.spec.ts
  frontend/tests/performance.spec.ts
  frontend/tests/ux-improvements.spec.ts
Due: prettier, frontend-lint, frontend-typecheck

test(frontend): quarantine three specs that test a different product
  frontend/tests/calculator-form.spec.ts
  frontend/tests/monte-carlo-websocket.spec.ts
  frontend/tests/results-visualization.spec.ts
Due: prettier, frontend-lint, frontend-typecheck

test(frontend): fix two production gates that gated nothing
  frontend/tests/performance.spec.ts
Due: prettier, frontend-lint, frontend-typecheck

test(frontend): delete the three specs that test a different product
  frontend/tests/calculator-form.spec.ts
  frontend/tests/monte-carlo-websocket.spec.ts
  frontend/tests/results-visualization.spec.ts
Due: prettier, frontend-lint, frontend-typecheck
