Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier, frontend-lint, frontend-typecheck, deptry, depcheck

pyright:
  name: pyright
  entry: bash -c 'cd backend && uv run pyright src/'
  language: system
  pass_filenames: false

prettier:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@#frontend/}"' --
  language: system

frontend-lint:
  name: frontend eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

deptry:
  name: deptry (backend)
  entry: bash -c 'cd backend && uv run deptry src/'
  language: system
  pass_filenames: false

depcheck:
  name: depcheck (frontend)
  entry: bash -c 'cd frontend && npx depcheck --ignores="@types/*,eslint*,prettier*,vitest,@vitest/*,@vitejs/*,@testing-library/*,jsdom,@playwright/*,axe-playwright,tw-animate-css,tailwindcss,@tailwindcss/*,critters,openapi-zod-client"'
  language: system
  pass_filenames: false

fix(backend,frontend): replace fabricated/dead ledger stats with real backend values (C1, I4, I5)
  backend/src/worth_it/api/routers/scenarios.py
  backend/src/worth_it/calculations/dilution_engine.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/models.py
  backend/src/worth_it/services/startup_service.py
  backend/src/worth_it/types.py
  backend/tests/test_calculations.py
  backend/tests/test_dilution_engine.py
  frontend/__tests__/components/ledger/chapters/dilution-chapter.test.tsx
  frontend/__tests__/components/ledger/verdict-band.test.tsx
  frontend/__tests__/lib/ledger/percent.test.ts
  frontend/app/[locale]/page.tsx
  frontend/components/ledger/chapters/dilution-chapter.tsx
  frontend/components/ledger/verdict-band.tsx
  frontend/lib/ledger/percent.ts
  frontend/lib/schemas.ts
Due: pyright, prettier, frontend-lint, frontend-typecheck

fix(frontend): stop rounding sub-1% equity grants to 0% in the offer column (C2)
  frontend/__tests__/components/ledger/offer-column.test.tsx
  frontend/components/ledger/offer-column.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): translate the command palette on /ar (I3)
  frontend/__tests__/components/command-palette-i18n.test.tsx
  frontend/__tests__/components/command-palette.test.tsx
  frontend/components/command-palette.tsx
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): use the locale-aware Link on the about page (I7)
  frontend/app/[locale]/about/page.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): label the Stay column's salary stat for what it measures
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier

fix(backend): compute dilution_schedule only when round_factors exist (Minor 1)
  backend/src/worth_it/calculations/startup_scenario.py
  backend/tests/test_calculations.py
Due: pyright

fix(frontend): translate the command palette dialog's accessible name (Minor 2)
  frontend/__tests__/components/command-palette-i18n.test.tsx
  frontend/components/command-palette.tsx
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): zip dilutionSchedule by position, not by year (Minor 3)
  frontend/__tests__/components/ledger/chapters/dilution-chapter.test.tsx
  frontend/components/ledger/chapters/dilution-chapter.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(backend): make final_take_home_value's nullability consistent (Minor 4)
  backend/src/worth_it/models.py
  backend/src/worth_it/services/startup_service.py
  backend/tests/test_typed_models.py
Due: pyright

refactor(frontend): delete the code orphaned by the dashboard removal
  frontend/CLAUDE.md
  frontend/__tests__/components/charts/monte-carlo-visualizations.test.tsx
  frontend/__tests__/components/dashboard/actionable-empty-state.test.tsx
  frontend/__tests__/components/example-loader.test.tsx
  frontend/__tests__/components/form-completion-summary.test.tsx
  frontend/__tests__/components/mutation-effect-deps.test.tsx
  frontend/__tests__/components/scenarios/scenario-comparison.test.tsx
  frontend/__tests__/lib/employee-scenario-utils.test.ts
  frontend/components/charts/monte-carlo-visualizations.tsx
  frontend/components/dashboard/actionable-empty-state.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/example-loader.tsx
  frontend/components/forms/form-completion-summary.tsx
  frontend/components/forms/global-settings-form.tsx
  frontend/components/forms/startup-offer-form.tsx
  frontend/components/results/sensitivity-analysis-panel.tsx
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/lib/employee-scenario-utils.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(backend): declare a WebSocket library so the /ws endpoints work
  backend/pyproject.toml
  backend/uv.lock
Due: deptry

fix(frontend): stop stating a verdict built from an absent measurement
  frontend/__tests__/lib/ledger/verdict.test.ts
  frontend/lib/ledger/verdict.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): stop reporting a failure on a successful simulation
  frontend/__tests__/lib/api-client.test.ts
  frontend/lib/api-client.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(e2e): disable the rate limiter for the E2E environment
  scripts/run-e2e-tests.sh
Due: none

fix(ci): stop the background servers before the job ends
  .github/workflows/playwright.yml
Due: none

fix(ci): pin playwright-review to claude-code-action v1
  .github/workflows/playwright-pr.yaml
Due: none

Path conditions:
  pyright: any of: ^backend/src/worth_it/
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: ^(frontend/playwright-report/|frontend/test-results/|frontend/lib/generated/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/lib/generated/
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/lib/generated/
  deptry: any of: ^backend/(pyproject\.toml|uv\.lock)$
  depcheck: any of: ^frontend/package\.json$
