Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint, frontend-typecheck

pyright:
  name: pyright
  entry: bash -c 'cd backend && uv run pyright src/worth_it/calculations.py src/worth_it/api.py src/worth_it/models.py'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

feat(walkthrough): add guided walkthrough with Spotlight hints (#151) (#226)
  frontend/__tests__/components/layout/app-shell.test.tsx
  frontend/__tests__/components/layout/header.test.tsx
  frontend/__tests__/components/walkthrough/spotlight.test.tsx
  frontend/__tests__/lib/walkthrough/context.test.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/forms/startup-offer-form.tsx
  frontend/components/layout/header.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/walkthrough/index.ts
  frontend/components/walkthrough/spotlight.tsx
  frontend/components/walkthrough/tour-launcher.tsx
  frontend/components/walkthrough/walkthrough-overlay.tsx
  frontend/lib/providers.tsx
  frontend/lib/walkthrough/context.tsx
  frontend/lib/walkthrough/index.ts
  frontend/lib/walkthrough/tours/cap-table.ts
  frontend/lib/walkthrough/tours/index.ts
  frontend/lib/walkthrough/tours/job-analysis.ts
  frontend/lib/walkthrough/tours/monte-carlo.ts
  frontend/lib/walkthrough/tours/waterfall.ts
  frontend/lib/walkthrough/types.ts
  playwright/tests/25-walkthrough.spec.ts
Due: frontend-lint, frontend-typecheck

feat(decision): add guided decision framework wizard (#176) (#227)
  frontend/__tests__/components/decision/decision-wizard.test.tsx
  frontend/__tests__/components/decision/recommendation.test.tsx
  frontend/__tests__/lib/decision-framework.test.ts
  frontend/components/decision/decision-wizard.tsx
  frontend/components/decision/index.ts
  frontend/components/decision/recommendation.tsx
  frontend/components/results/scenario-results.tsx
  frontend/lib/decision-framework.ts
  playwright/tests/26-decision-framework.spec.ts
Due: frontend-lint, frontend-typecheck

docs: add cap table wizard design document
  docs/plans/2025-12-19-cap-table-wizard-design.md
Due: none

feat(cap-table): add quick-start wizard for first-time founders (#146)
  frontend/__tests__/components/cap-table/wizard/cap-table-wizard.test.tsx
  frontend/__tests__/components/cap-table/wizard/step-founders.test.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/wizard/cap-table-wizard.tsx
  frontend/components/cap-table/wizard/index.ts
  frontend/components/cap-table/wizard/steps/index.ts
  frontend/components/cap-table/wizard/steps/step-advisors.tsx
  frontend/components/cap-table/wizard/steps/step-complete.tsx
  frontend/components/cap-table/wizard/steps/step-founders.tsx
  frontend/components/cap-table/wizard/steps/step-funding.tsx
  frontend/components/cap-table/wizard/steps/step-option-pool.tsx
  frontend/components/cap-table/wizard/types.ts
  frontend/components/cap-table/wizard/wizard-progress.tsx
Due: frontend-lint, frontend-typecheck

chore: fix CSS escape in print styles and add wizard E2E tests
  frontend/app/globals.css
  playwright/tests/20-cap-table-wizard.spec.ts
Due: none

feat(cap-table): add version history for tracking changes (#175)
  docs/plans/2025-12-19-cap-table-version-history-design.md
  frontend/__tests__/components/cap-table/history/use-version-history.test.ts
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/history/history-trigger-button.tsx
  frontend/components/cap-table/history/index.ts
  frontend/components/cap-table/history/types.ts
  frontend/components/cap-table/history/use-version-history.ts
  frontend/components/cap-table/history/version-diff-view.tsx
  frontend/components/cap-table/history/version-history-panel.tsx
  frontend/components/cap-table/history/version-list-item.tsx
Due: frontend-lint, frontend-typecheck

fix(wizard): address PR review comments
  frontend/components/cap-table/wizard/cap-table-wizard.tsx
  frontend/components/cap-table/wizard/steps/step-complete.tsx
  frontend/components/cap-table/wizard/steps/step-funding.tsx
  frontend/components/cap-table/wizard/steps/step-option-pool.tsx
  frontend/components/cap-table/wizard/wizard-progress.tsx
  playwright/tests/20-cap-table-wizard.spec.ts
Due: frontend-lint, frontend-typecheck

fix(wizard): resolve ESLint unescaped-entities errors
  frontend/components/cap-table/wizard/steps/step-complete.tsx
  frontend/components/cap-table/wizard/steps/step-option-pool.tsx
Due: frontend-lint, frontend-typecheck

fix(history): address PR review comments
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/history/version-diff-view.tsx
  frontend/components/cap-table/history/version-history-panel.tsx
  frontend/components/cap-table/history/version-list-item.tsx
Due: frontend-lint, frontend-typecheck

feat(cap-table): add quick-start wizard for first-time founders (#146) (#230)
  docs/plans/2025-12-19-cap-table-wizard-design.md
  frontend/__tests__/components/cap-table/wizard/cap-table-wizard.test.tsx
  frontend/__tests__/components/cap-table/wizard/step-founders.test.tsx
  frontend/app/globals.css
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/wizard/cap-table-wizard.tsx
  frontend/components/cap-table/wizard/index.ts
  frontend/components/cap-table/wizard/steps/index.ts
  frontend/components/cap-table/wizard/steps/step-advisors.tsx
  frontend/components/cap-table/wizard/steps/step-complete.tsx
  frontend/components/cap-table/wizard/steps/step-founders.tsx
  frontend/components/cap-table/wizard/steps/step-funding.tsx
  frontend/components/cap-table/wizard/steps/step-option-pool.tsx
  frontend/components/cap-table/wizard/types.ts
  frontend/components/cap-table/wizard/wizard-progress.tsx
  playwright/tests/20-cap-table-wizard.spec.ts
Due: frontend-lint, frontend-typecheck

feat(cap-table): add version history for tracking changes (#175) (#231)
  docs/plans/2025-12-19-cap-table-version-history-design.md
  frontend/__tests__/components/cap-table/history/use-version-history.test.ts
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/history/history-trigger-button.tsx
  frontend/components/cap-table/history/index.ts
  frontend/components/cap-table/history/types.ts
  frontend/components/cap-table/history/use-version-history.ts
  frontend/components/cap-table/history/version-diff-view.tsx
  frontend/components/cap-table/history/version-history-panel.tsx
  frontend/components/cap-table/history/version-list-item.tsx
Due: frontend-lint, frontend-typecheck

docs: add equity timeline visualization design (#228)
  docs/plans/2025-12-19-equity-timeline-design.md
Due: none

feat(timeline): add interactive equity timeline visualization (#228)
  frontend/__tests__/components/cap-table/timeline/use-timeline-data.test.ts
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/timeline/equity-timeline.tsx
  frontend/components/cap-table/timeline/event-timeline.tsx
  frontend/components/cap-table/timeline/index.ts
  frontend/components/cap-table/timeline/ownership-area-chart.tsx
  frontend/components/cap-table/timeline/timeline-event-filters.tsx
  frontend/components/cap-table/timeline/timeline-export-menu.tsx
  frontend/components/cap-table/timeline/types.ts
  frontend/components/cap-table/timeline/use-timeline-data.ts
  frontend/components/cap-table/timeline/use-timeline-export.ts
  frontend/components/results/scenario-results.tsx
  frontend/components/ui/popover.tsx
  frontend/components/ui/toggle.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix(timeline): address PR review comments on test type safety (#228)
  frontend/__tests__/components/cap-table/timeline/use-timeline-data.test.ts
  frontend/components/cap-table/timeline/types.ts
Due: frontend-lint, frontend-typecheck

test(e2e): add Playwright tests for equity timeline (#228)
  playwright/tests/21-equity-timeline.spec.ts
Due: none

feat(timeline): Add interactive equity timeline visualization (#228) (#232)
  docs/plans/2025-12-19-equity-timeline-design.md
  frontend/__tests__/components/cap-table/timeline/use-timeline-data.test.ts
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/timeline/equity-timeline.tsx
  frontend/components/cap-table/timeline/event-timeline.tsx
  frontend/components/cap-table/timeline/index.ts
  frontend/components/cap-table/timeline/ownership-area-chart.tsx
  frontend/components/cap-table/timeline/timeline-event-filters.tsx
  frontend/components/cap-table/timeline/timeline-export-menu.tsx
  frontend/components/cap-table/timeline/types.ts
  frontend/components/cap-table/timeline/use-timeline-data.ts
  frontend/components/cap-table/timeline/use-timeline-export.ts
  frontend/components/results/scenario-results.tsx
  frontend/components/ui/popover.tsx
  frontend/components/ui/toggle.tsx
  frontend/package-lock.json
  frontend/package.json
  playwright/tests/21-equity-timeline.spec.ts
Due: frontend-lint, frontend-typecheck

feat(valuation): add startup valuation calculator with multiple methods (#229)
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/valuation.py
  backend/src/worth_it/models.py
  backend/tests/test_valuation.py
  frontend/app/valuation/page.tsx
  frontend/components/layout/header.tsx
  frontend/components/valuation/dcf-form.tsx
  frontend/components/valuation/index.ts
  frontend/components/valuation/revenue-multiple-form.tsx
  frontend/components/valuation/valuation-calculator.tsx
  frontend/components/valuation/valuation-comparison.tsx
  frontend/components/valuation/valuation-result.tsx
  frontend/components/valuation/vc-method-form.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
  playwright/tests/27-valuation-calculator.spec.ts
Due: pyright, frontend-lint, frontend-typecheck

fix(valuation): resolve mypy type errors
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations/valuation.py
Due: pyright

chore(valuation): remove unused Badge import and getActiveForm function
  frontend/components/valuation/valuation-calculator.tsx
Due: frontend-lint, frontend-typecheck

fix(valuation): address PR review comments
  frontend/components/valuation/valuation-calculator.tsx
  frontend/components/valuation/valuation-comparison.tsx
  playwright/tests/27-valuation-calculator.spec.ts
Due: frontend-lint, frontend-typecheck

feat(valuation): add startup valuation calculator with multiple methods (#229) (#233)
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/valuation.py
  backend/src/worth_it/models.py
  backend/tests/test_valuation.py
  frontend/app/valuation/page.tsx
  frontend/components/layout/header.tsx
  frontend/components/valuation/dcf-form.tsx
  frontend/components/valuation/index.ts
  frontend/components/valuation/revenue-multiple-form.tsx
  frontend/components/valuation/valuation-calculator.tsx
  frontend/components/valuation/valuation-comparison.tsx
  frontend/components/valuation/valuation-result.tsx
  frontend/components/valuation/vc-method-form.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
  playwright/tests/27-valuation-calculator.spec.ts
Due: pyright, frontend-lint, frontend-typecheck

fix: standardize equity_type values between frontend and backend (#243)
  backend/src/worth_it/calculations/base.py
  backend/src/worth_it/calculations/opportunity_cost.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/monte_carlo.py
  backend/tests/test_api.py
  frontend/app/page.tsx
Due: frontend-lint, frontend-typecheck

fix: standardize equity_type values between frontend and backend (#243) (#258)
  backend/src/worth_it/calculations/base.py
  backend/src/worth_it/calculations/opportunity_cost.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/monte_carlo.py
  backend/tests/test_api.py
  frontend/app/page.tsx
Due: frontend-lint, frontend-typecheck

fix(websocket): use wss:// protocol for HTTPS pages (#255)
  frontend/__tests__/lib/api-client.test.ts
  frontend/lib/api-client.ts
Due: frontend-lint, frontend-typecheck

fix: address Copilot review comments for WebSocket protocol detection
  frontend/__tests__/lib/api-client.test.ts
  frontend/lib/api-client.ts
Due: frontend-lint, frontend-typecheck

fix: rename 'module' variable to avoid Next.js lint error
  frontend/__tests__/lib/api-client.test.ts
Due: frontend-lint, frontend-typecheck

fix(websocket): use wss:// protocol for HTTPS pages (#255) (#257)
  frontend/__tests__/lib/api-client.test.ts
  frontend/lib/api-client.ts
Due: frontend-lint, frontend-typecheck

fix(sensitivity): align request schema with backend Monte Carlo structure (#242)
  frontend/__tests__/lib/sensitivity-utils.test.ts
  frontend/lib/sensitivity-utils.ts
Due: frontend-lint, frontend-typecheck

fix(api): add validation for required base_params fields (#253)
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

fix(security): harden configuration for production deployment (#237)
  backend/src/worth_it/config.py
  backend/tests/test_api.py
Due: none

feat(tests): add comprehensive integration tests for sensitivity and WebSocket
  backend/tests/test_integration.py
Due: none

feat(dx): automate API schema synchronization (#235)
  frontend/lib/generated/api-schemas.ts
  frontend/lib/generated/index.ts
  frontend/package-lock.json
  frontend/package.json
  scripts/generate-types.sh
Due: frontend-lint, frontend-typecheck

fix(models): address review comments on exit_year validation
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

refactor(frontend): extract dashboard components and calculation hook (#234)
  frontend/app/page.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/dashboard/founder-dashboard.tsx
  frontend/components/dashboard/index.ts
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-scenario-calculation.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix(frontend): prevent stale calculation results from overlapping requests (#256)
  frontend/__tests__/lib/hooks/use-cancellable-mutation.test.tsx
  frontend/app/page.tsx
  frontend/lib/api-client.ts
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-cancellable-mutation.ts
Due: frontend-lint, frontend-typecheck

fix(monte-carlo): guard visualizations against empty datasets (#254)
  frontend/__tests__/components/charts/monte-carlo-visualizations.test.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
Due: frontend-lint, frontend-typecheck

fix: remove unnecessary netOutcomes.length from dependency array
  frontend/components/charts/monte-carlo-visualizations.tsx
Due: frontend-lint, frontend-typecheck

fix: address PR #266 review comments
  frontend/__tests__/lib/hooks/use-cancellable-mutation.test.tsx
  frontend/lib/hooks/use-cancellable-mutation.ts
Due: frontend-lint, frontend-typecheck

fix: address PR review comments for dashboard extraction (#265)
  frontend/__tests__/components/dashboard/employee-dashboard.test.tsx
  frontend/__tests__/components/dashboard/founder-dashboard.test.tsx
  frontend/__tests__/lib/hooks/use-scenario-calculation.test.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/lib/hooks/use-scenario-calculation.ts
Due: frontend-lint, frontend-typecheck

Path conditions:
  pyright: any of: ^backend/src/worth_it/(calculations|api|models)\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
