Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier, frontend-lint, frontend-typecheck, deptry, depcheck

Path conditions:
  pyright: any of: ^backend/src/worth_it/
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: ^(frontend/playwright-report/|frontend/test-results/|frontend/lib/generated/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/lib/generated/
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/lib/generated/
  deptry: any of: ^backend/(pyproject\.toml|uv\.lock)$
  depcheck: any of: ^frontend/package\.json$

feat(valuation): implement Scorecard Method
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(frontend): add pre-revenue valuation form components and integrate into calculator
  frontend/components/valuation/berkus-form.tsx
  frontend/components/valuation/risk-factor-form.tsx
  frontend/components/valuation/scorecard-form.tsx
  frontend/components/valuation/valuation-calculator.tsx
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add DistributionInput component for Monte Carlo
  frontend/components/valuation/distribution-input.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(api): add WebSocket endpoint for valuation Monte Carlo
  backend/src/worth_it/api/routers/monte_carlo.py
Due: pyright

feat(frontend): add MonteCarloToggle component
  frontend/components/valuation/monte-carlo-toggle.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(monte-carlo): implement simulation engine with percentile calculation
  backend/src/worth_it/calculations/monte_carlo_valuation.py
  backend/tests/test_monte_carlo_valuation.py
Due: pyright

feat(frontend): add MonteCarloResults visualization component
  frontend/components/valuation/monte-carlo-results.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(monte-carlo): add parameter distribution types and sampling
  backend/src/worth_it/calculations/monte_carlo_valuation.py
  backend/tests/test_monte_carlo_valuation.py
Due: pyright

feat(valuation): integrate Monte Carlo enhancement layer into First Chicago method
  frontend/components/valuation/valuation-calculator.tsx
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-valuation-monte-carlo.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(valuation): address PR review feedback for Monte Carlo implementation
  backend/src/worth_it/api/routers/monte_carlo.py
  backend/src/worth_it/calculations/monte_carlo_valuation.py
  frontend/components/valuation/distribution-input.tsx
  frontend/components/valuation/monte-carlo-results.tsx
  frontend/lib/hooks/use-valuation-monte-carlo.ts
Due: pyright, prettier, frontend-lint, frontend-typecheck

fix(valuation): resolve merge conflict and fix TypeScript errors
  frontend/components/valuation/valuation-calculator.tsx
Due: prettier, frontend-lint, frontend-typecheck

docs(plans): revise Phase 4, 5, 6 implementation plans
  docs/plans/2025-12-27-valuation-calculator-phase4.md
  docs/plans/2025-12-27-valuation-calculator-phase5.md
  docs/plans/2025-12-27-valuation-calculator-phase6.md
Due: none

docs(plans): align Phase 4-6 with Phase 2 patterns and branch workflow
  docs/plans/2025-12-27-valuation-calculator-phase4.md
  docs/plans/2025-12-27-valuation-calculator-phase5.md
  docs/plans/2025-12-27-valuation-calculator-phase6.md
Due: none

docs(plans): add Phase 3 patterns to Phase 4-6 prerequisites
  docs/plans/2025-12-27-valuation-calculator-phase4.md
  docs/plans/2025-12-27-valuation-calculator-phase5.md
  docs/plans/2025-12-27-valuation-calculator-phase6.md
Due: none

perf(animations): add visibility-based pausing to reduce CPU usage
  frontend/lib/motion.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(motion): remove value from subscription effect dependencies
  frontend/lib/motion.tsx
Due: prettier, frontend-lint, frontend-typecheck

perf(ci): optimize frontend test workflow for faster CI
  .github/workflows/test.yml
  frontend/vitest.config.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(hooks): refactor form.watch() to useWatch for React Compiler compatibility
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/preference-stack-editor.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/components/cap-table/stakeholder-form.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
Due: prettier, frontend-lint, frontend-typecheck

test(setup): suppress expected console warnings and improve motion mocks
  frontend/__tests__/lib/hooks/use-cap-table-history.test.ts
  frontend/__tests__/setup.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(benchmarks): add industry benchmark data for 15+ sectors
  backend/src/worth_it/calculations/benchmarks.py
  backend/src/worth_it/data/industry_benchmarks.json
  backend/tests/test_benchmarks.py
Due: pyright

feat(valuation): add benchmark API endpoints (Phase 4)
  backend/src/worth_it/api/routers/valuation.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

feat(frontend): add industry benchmark schemas and API client
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add BenchmarkWarning component for validation feedback
  frontend/__tests__/components/valuation/benchmark-warning.test.tsx
  frontend/components/valuation/benchmark-warning.tsx
  frontend/components/valuation/index.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add IndustrySelector component for benchmark integration
  frontend/__tests__/components/valuation/industry-selector.test.tsx
  frontend/components/valuation/index.ts
  frontend/components/valuation/industry-selector.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add useBenchmarkValidation hook for form input validation
  frontend/__tests__/lib/hooks/use-benchmark-validation.test.ts
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-benchmark-validation.ts
Due: prettier, frontend-lint, frontend-typecheck

test(e2e): add industry benchmarks E2E tests for valuation calculator
  playwright/tests/27-valuation-calculator.spec.ts
Due: none
