Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier, frontend-lint, frontend-typecheck, deptry, depcheck

Path conditions:
  pyright: any of: ^backend/src/worth_it/
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: ^(frontend/playwright-report/|frontend/test-results/|frontend/lib/generated/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/lib/generated/
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/lib/generated/
  deptry: any of: ^backend/(pyproject\.toml|uv\.lock)$
  depcheck: any of: ^frontend/package\.json$

docs(plan): add Phase 1 implementation plan for First Chicago Method
  docs/plans/2025-12-27-valuation-calculator-phase1.md
Due: none

feat(valuation): add FirstChicagoScenario dataclass
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(valuation): add FirstChicagoParams and FirstChicagoResult dataclasses
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(valuation): implement calculate_first_chicago function
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(api): add Pydantic models for First Chicago Method
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

feat(api): add POST /api/valuation/first-chicago endpoint
  backend/src/worth_it/api/routers/valuation.py
  backend/tests/test_api.py
Due: pyright

feat(frontend): add Zod schemas for First Chicago Method
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add First Chicago API client method and hook
  frontend/lib/api-client.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add First Chicago Method to valuation calculator
  frontend/components/valuation/first-chicago-form.tsx
  frontend/components/valuation/first-chicago-results.tsx
  frontend/components/valuation/valuation-calculator.tsx
Due: prettier, frontend-lint, frontend-typecheck

test(e2e): add First Chicago Method E2E tests
  playwright/tests/27-valuation-calculator.spec.ts
Due: none

fix(valuation): correct First Chicago scenario percentages and display
  backend/src/worth_it/calculations/valuation.py
  frontend/components/valuation/first-chicago-results.tsx
Due: pyright, prettier, frontend-lint, frontend-typecheck

docs(valuation): add implementation plans for phases 2-6
  docs/plans/2025-12-27-valuation-calculator-phase2.md
  docs/plans/2025-12-27-valuation-calculator-phase3.md
  docs/plans/2025-12-27-valuation-calculator-phase4.md
  docs/plans/2025-12-27-valuation-calculator-phase5.md
  docs/plans/2025-12-27-valuation-calculator-phase6.md
Due: none

fix(tests): update First Chicago E2E tests for correct selectors and status codes
  playwright/tests/27-valuation-calculator.spec.ts
Due: none

fix(backend): add probability sum validation for First Chicago scenarios
  backend/src/worth_it/models.py
  playwright/tests/27-valuation-calculator.spec.ts
Due: pyright

feat(valuation): implement Scorecard Method
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(valuation): implement calculate_berkus function
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(valuation): implement Risk Factor Summation Method
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(valuation): add Berkus Method dataclasses
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(api): add pre-revenue valuation API endpoints
  backend/src/worth_it/api/routers/valuation.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

feat(frontend): add pre-revenue valuation schemas and API client
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add pre-revenue valuation form components and integrate into calculator
  frontend/components/valuation/berkus-form.tsx
  frontend/components/valuation/risk-factor-form.tsx
  frontend/components/valuation/scorecard-form.tsx
  frontend/components/valuation/valuation-calculator.tsx
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(valuation): address PR review comments
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright
