Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier, frontend-lint, frontend-typecheck, deptry, depcheck

pyright:
  name: pyright
  entry: bash -c 'cd backend && uv run pyright src/'
  language: system
  pass_filenames: false

prettier:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown "${@#frontend/}"' --
  language: system

frontend-lint:
  name: frontend eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

deptry:
  name: deptry (backend)
  entry: bash -c 'cd backend && uv run deptry src/'
  language: system
  pass_filenames: false

depcheck:
  name: depcheck (frontend)
  entry: bash -c 'cd frontend && npx depcheck --ignores="@types/*,eslint*,prettier*,vitest,@vitest/*,@vitejs/*,@testing-library/*,jsdom,@playwright/*,axe-playwright,tw-animate-css,tailwindcss,@tailwindcss/*,critters,openapi-zod-client"'
  language: system
  pass_filenames: false

fix(frontend): repair the waterfall preference-tier flow
  frontend/__tests__/components/cap-table/cap-table-manager.test.tsx
  frontend/__tests__/components/cap-table/preference-stack-editor.test.tsx
  frontend/__tests__/components/cap-table/waterfall-analysis.test.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/preference-stack-editor.tsx
  frontend/components/cap-table/waterfall-analysis.tsx
  frontend/lib/priced-rounds.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(backend): close the verified review findings in the API and calculations
  backend/src/worth_it/api/dependencies.py
  backend/src/worth_it/api/routers/cap_table.py
  backend/src/worth_it/api/routers/export.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/calculations/waterfall_engine.py
  backend/src/worth_it/models.py
  backend/src/worth_it/types.py
  backend/tests/test_rate_limit_key.py
  backend/tests/test_request_bounds.py
  backend/tests/test_vesting_year_index.py
  backend/tests/test_waterfall_engine.py
  backend/tests/test_waterfall_preferred.py
Due: pyright

fix(frontend): stabilise share derivation, template ids, and flaky tests
  backend/tests/test_config_env.py
  backend/tests/test_export_hardening.py
  backend/tests/test_options_monte_carlo.py
  frontend/__tests__/components/form-fields.test.tsx
  frontend/__tests__/lib/cap-table-shares.test.ts
  frontend/__tests__/lib/constants/founder-templates.test.ts
  frontend/lib/cap-table-shares.ts
  frontend/lib/constants/founder-templates.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): drop saved drafts written before salary_change changed meaning
  frontend/__tests__/components/draft-recovery-dialog.test.tsx
  frontend/__tests__/lib/hooks/use-draft-auto-save.test.ts
  frontend/components/ui/table.tsx
  frontend/lib/hooks/use-draft-auto-save.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(ci): probe an unlimited endpoint for readiness, harden workflow tokens
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  docs/production-readiness-audit.md
  frontend/playwright.config.prod.ts
  frontend/playwright.config.ts
  frontend/tests/performance.spec.ts
  playwright/tests/09-waterfall-analysis.spec.ts
  playwright/utils/helpers.ts
Due: prettier, frontend-lint, frontend-typecheck

docs: add the C1 Ledger comparison-landing design spec
  docs/superpowers/specs/2026-08-20-c1-ledger-comparison-design.md
  docs/superpowers/specs/assets/2026-08-20-c1-ledger-comp.html
Due: none

docs: add the C1 Ledger landing implementation plan
  docs/superpowers/plans/2026-08-20-c1-ledger-landing.md
Due: none

feat(backend): return percentiles and win probability from Monte Carlo
  backend/src/worth_it/api/routers/monte_carlo.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
  backend/tests/test_api.py
  backend/tests/test_router_offload_and_seed_contract.py
Due: pyright

feat(frontend): add en/ar locale routing and retire the dashboard route
  frontend/__tests__/components/layout/app-shell.test.tsx
  frontend/__tests__/components/layout/header.test.tsx
  frontend/__tests__/lib/messages-parity.test.ts
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/valuation/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/layout/header.tsx
  frontend/i18n/navigation.ts
  frontend/i18n/request.ts
  frontend/i18n/routing.ts
  frontend/messages/ar.json
  frontend/messages/en.json
  frontend/middleware.ts
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier, frontend-lint, frontend-typecheck, depcheck

fix(frontend): nest NextIntlClientProvider inside Providers per the locale layout spec
  frontend/app/[locale]/layout.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add Ledger tokens, IBM Plex/Amiri fonts, light default, logical-utility lint
  frontend/app/[locale]/layout.tsx
  frontend/app/globals.css
  frontend/eslint.config.mjs
  frontend/lib/providers.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): move the RTL tracking guard into the utilities layer
  frontend/app/globals.css
Due: prettier

feat(frontend): add formatMoney and the USD|SAR display-currency setting
  frontend/__tests__/lib/ledger/format-money.test.ts
  frontend/__tests__/lib/store.test.ts
  frontend/lib/ledger/format-money.ts
  frontend/lib/store.ts
Due: prettier, frontend-lint, frontend-typecheck

test(frontend): cover the display-currency persist migration
  frontend/__tests__/lib/store.test.ts
  frontend/lib/store.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): extend Monte Carlo schemas with seed, percentiles, win probability
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/schemas-monte-carlo.test.ts
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add Ledger primitives (Money, Field, Chapter, RuledTable, PresetChips)
  frontend/__tests__/components/ledger/chapter.test.tsx
  frontend/__tests__/components/ledger/field.test.tsx
  frontend/__tests__/components/ledger/money.test.tsx
  frontend/__tests__/components/ledger/preset-chips.test.tsx
  frontend/components/ledger/chapter.tsx
  frontend/components/ledger/field.tsx
  frontend/components/ledger/money.tsx
  frontend/components/ledger/preset-chips.tsx
  frontend/components/ledger/ruled-table.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): clamp Field values to min/max on blur and cover NaN parsing
  frontend/__tests__/components/ledger/field.test.tsx
  frontend/components/ledger/field.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add OutcomeBand distribution chart
  frontend/__tests__/components/ledger/outcome-band.test.tsx
  frontend/components/ledger/outcome-band.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): sign OutcomeBand endpoint labels and pin chart geometry tests
  frontend/__tests__/components/ledger/outcome-band.test.tsx
  frontend/components/ledger/outcome-band.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add verdict selection and the VerdictBand
  frontend/__tests__/components/ledger/verdict-band.test.tsx
  frontend/__tests__/lib/ledger/verdict.test.ts
  frontend/components/ledger/verdict-band.tsx
  frontend/lib/ledger/verdict.ts
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

test(frontend): exercise the real Arabic verdict catalog through VerdictBand
  frontend/__tests__/components/ledger/verdict-band.test.tsx
  frontend/__tests__/lib/ledger/verdict.test.ts
  frontend/lib/ledger/verdict.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): support up to three named offers with v2 drafts
  frontend/__tests__/lib/draft-restoration.test.ts
  frontend/__tests__/lib/hooks/use-draft-auto-save.test.ts
  frontend/__tests__/lib/store-offers.test.ts
  frontend/lib/hooks/use-draft-auto-save.ts
  frontend/lib/store.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): never throw on a corrupted draft offers payload
  frontend/__tests__/lib/draft-restoration.test.ts
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-draft-auto-save.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add the Stay/Offer duel columns
  frontend/__tests__/components/ledger/add-offer-slot.test.tsx
  frontend/__tests__/components/ledger/offer-column.test.tsx
  frontend/__tests__/components/ledger/stay-column.test.tsx
  frontend/components/ledger/add-offer-slot.tsx
  frontend/components/ledger/offer-column.tsx
  frontend/components/ledger/stay-column.tsx
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add vesting, dilution, sensitivity, waterfall chapters
  frontend/__tests__/components/ledger/chapters/dilution-chapter.test.tsx
  frontend/__tests__/components/ledger/chapters/sensitivity-chapter.test.tsx
  frontend/__tests__/components/ledger/chapters/vesting-chapter.test.tsx
  frontend/__tests__/components/ledger/chapters/waterfall-chapter.test.tsx
  frontend/components/ledger/chapters/dilution-chapter.tsx
  frontend/components/ledger/chapters/sensitivity-chapter.tsx
  frontend/components/ledger/chapters/vesting-chapter.tsx
  frontend/components/ledger/chapters/waterfall-chapter.tsx
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): harden the sensitivity approximation and dilution chapter coverage
  frontend/__tests__/components/ledger/chapters/dilution-chapter.test.tsx
  frontend/__tests__/components/ledger/chapters/sensitivity-chapter.test.tsx
  frontend/components/ledger/chapters/dilution-chapter.tsx
  frontend/components/ledger/chapters/sensitivity-chapter.tsx
  frontend/lib/sensitivity-utils.ts
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add the Monte Carlo outcomes chapter
  frontend/__tests__/components/ledger/chapters/outcomes-chapter.test.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/components/ledger/chapters/outcomes-chapter.tsx
  frontend/components/ledger/verdict-band.tsx
  frontend/lib/ledger/interpolate.tsx
  frontend/lib/ledger/monte-carlo-request.ts
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): clear stale percentiles when a new simulation starts
  frontend/__tests__/components/ledger/chapters/outcomes-chapter.test.tsx
  frontend/components/ledger/chapters/outcomes-chapter.tsx
  frontend/lib/ledger/monte-carlo-request.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): replace the landing with the Ledger comparison document
  frontend/__tests__/app/landing-page.test.tsx
  frontend/__tests__/lib/store.test.ts
  frontend/app/[locale]/page.tsx
  frontend/components/ledger/masthead.tsx
  frontend/components/ledger/sample-notice.tsx
  frontend/lib/store.ts
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): wire drafts and the utilities row into the landing
  frontend/__tests__/app/landing-page.test.tsx
  frontend/__tests__/lib/store-offers.test.ts
  frontend/app/[locale]/page.tsx
  frontend/lib/store.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): dedupe the seed display and document the dilution gate
  frontend/__tests__/app/landing-page.test.tsx
  frontend/app/[locale]/page.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): give the cap-table tool its own route
  frontend/__tests__/app/cap-table-page.test.tsx
  frontend/__tests__/components/command-palette.test.tsx
  frontend/app/[locale]/cap-table/page.tsx
  frontend/app/[locale]/layout.tsx
  frontend/components/command-palette.tsx
  frontend/eslint.config.mjs
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): stop the command palette from driving the retired appMode
  frontend/__tests__/components/command-palette.test.tsx
  frontend/components/command-palette.tsx
Due: prettier, frontend-lint, frontend-typecheck

refactor(frontend): delete the onboarding modal, walkthrough, legacy dashboard, and mode toggle
  frontend/__tests__/components/dashboard/employee-dashboard.test.tsx
  frontend/__tests__/components/layout/app-shell.test.tsx
  frontend/__tests__/components/layout/header.test.tsx
  frontend/__tests__/components/onboarding/welcome-modal.test.tsx
  frontend/__tests__/components/walkthrough/spotlight.test.tsx
  frontend/__tests__/lib/walkthrough/context.test.tsx
  frontend/app/[locale]/layout.tsx
  frontend/app/globals.css
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/dashboard/index.ts
  frontend/components/layout/header.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/onboarding/welcome-modal.tsx
  frontend/components/scenarios/scenario-manager.tsx
  frontend/components/walkthrough/index.ts
  frontend/components/walkthrough/spotlight.tsx
  frontend/components/walkthrough/tour-launcher.tsx
  frontend/components/walkthrough/walkthrough-overlay.tsx
  frontend/lib/providers.tsx
  frontend/lib/walkthrough/context.tsx
  frontend/lib/walkthrough/index.ts
  frontend/lib/walkthrough/tours/cap-table.ts
  frontend/lib/walkthrough/tours/index.ts
  frontend/lib/walkthrough/tours/job-analysis.ts
  frontend/lib/walkthrough/tours/monte-carlo.ts
  frontend/lib/walkthrough/tours/waterfall.ts
  frontend/lib/walkthrough/types.ts
Due: prettier, frontend-lint, frontend-typecheck

docs: point CLAUDE.md at the Ledger design reference
  CLAUDE.md
  frontend/CLAUDE.md
Due: prettier

refactor(frontend): remove walkthrough tour hooks and dead Fundcy styles
  frontend/__tests__/components/ui/collapsible-card.test.tsx
  frontend/app/globals.css
  frontend/components/charts/monte-carlo-visualizations.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/forms/startup-offer-form.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/ui/collapsible-card.tsx
Due: prettier, frontend-lint, frontend-typecheck

test(e2e): describe the Ledger landing, add the Arabic RTL smoke gate
  .github/workflows/playwright.yml
  frontend/tests/accessibility.spec.ts
  frontend/tests/empty-state-actions.spec.ts
  frontend/tests/performance.spec.ts
  frontend/tests/ux-improvements.spec.ts
  playwright/fixtures/base.ts
  playwright/tests/01-api-health.spec.ts
  playwright/tests/05-rsu-scenario-flow.spec.ts
  playwright/tests/09-waterfall-analysis.spec.ts
  playwright/tests/18-bottom-nav.spec.ts
  playwright/tests/18-error-card.spec.ts
  playwright/tests/19-touch-sliders.spec.ts
  playwright/tests/20-cap-table-wizard.spec.ts
  playwright/tests/20-waterfall-summary.spec.ts
  playwright/tests/21-equity-timeline.spec.ts
  playwright/tests/21-print-styles.spec.ts
  playwright/tests/22-metric-carousel.spec.ts
  playwright/tests/23-undo-redo.spec.ts
  playwright/tests/24-dashboard.spec.ts
  playwright/tests/25-walkthrough.spec.ts
  playwright/tests/26-decision-framework.spec.ts
  playwright/tests/29-command-palette-navigation.spec.ts
  playwright/tests/30-i18n-rtl.spec.ts
  playwright/tests/33-arabic-rtl-smoke.spec.ts
  playwright/utils/helpers.ts
Due: prettier, frontend-lint, frontend-typecheck

fix(frontend): repair focus targeting, heading levels, skip link, and notice landmark
  frontend/__tests__/app/cap-table-page.test.tsx
  frontend/__tests__/app/landing-page.test.tsx
  frontend/__tests__/components/layout/app-shell.test.tsx
  frontend/__tests__/components/layout/skip-link.test.tsx
  frontend/__tests__/components/ledger/field.test.tsx
  frontend/__tests__/components/ledger/stay-column.test.tsx
  frontend/app/[locale]/cap-table/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/components/layout/skip-link.tsx
  frontend/components/ledger/field.tsx
  frontend/components/ledger/offer-column.tsx
  frontend/components/ledger/stay-column.tsx
  frontend/messages/ar.json
  frontend/messages/en.json
Due: prettier, frontend-lint, frontend-typecheck

test(e2e): drop a stale comment referencing the removed dialog dismissal
  playwright/tests/18-error-card.spec.ts
Due: none

refactor(frontend): type the focus-target field and cover every missing-field branch
  frontend/__tests__/app/landing-page.test.tsx
  frontend/app/[locale]/page.tsx
  frontend/components/ledger/field.tsx
  frontend/lib/ledger/verdict.ts
Due: prettier, frontend-lint, frontend-typecheck

Path conditions:
  pyright: any of: ^backend/src/worth_it/
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: ^(frontend/playwright-report/|frontend/test-results/|frontend/lib/generated/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/lib/generated/
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/lib/generated/
  deptry: any of: ^backend/(pyproject\.toml|uv\.lock)$
  depcheck: any of: ^frontend/package\.json$
