Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run --with pre-commit pre-commit install
# Run manually: uv run --with pre-commit pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python code formatting with ruff (matches CI: ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      # Linter - auto-fix issues before commit
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy (matches CI files)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - pandas-stubs
        args: [--ignore-missing-imports]
        files: ^backend/src/worth_it/(calculations|api|models)\.py$

  # Type checking with pyright (matches CI)
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && uv run pyright src/worth_it/calculations.py src/worth_it/api.py src/worth_it/models.py'
        language: system
        files: ^backend/src/worth_it/(calculations|api|models)\.py$
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ['-c', 'backend/pyproject.toml']
        additional_dependencies: ['bandit[toml]']
        files: ^backend/

  # Frontend linting (matches CI: npm run lint)
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

fix: address PR review comments for schema sync script security (#264)
  frontend/package.json
  scripts/generate-types.sh
Due: none

fix: address PR review comments for integration tests (#263)
  backend/tests/test_integration.py
Due: none

fix: address PR review comments for security configuration (#262)
  backend/src/worth_it/config.py
  backend/tests/test_api.py
Due: none

fix(tests): correct enum values and mock type casts
  frontend/__tests__/components/dashboard/employee-dashboard.test.tsx
  frontend/__tests__/components/dashboard/founder-dashboard.test.tsx
  frontend/__tests__/lib/hooks/use-scenario-calculation.test.tsx
Due: frontend-lint, frontend-typecheck

fix(deps): add npm override for @zodios/core zod peer dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(tests): add comprehensive integration tests for sensitivity and WebSocket (#251) (#263)
  backend/tests/test_integration.py
Due: none

fix(security): harden configuration for production deployment (#237) (#262)
  backend/src/worth_it/config.py
  backend/tests/test_api.py
Due: none

fix(api): add validation for required base_params fields (#253) (#261)
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

test(e2e): add boolean exit_year validation tests
  playwright/tests/12-api-validation.spec.ts
Due: none

fix(ws): address review comments on WebSocket security
  backend/pyproject.toml
  backend/src/worth_it/api.py
  backend/tests/test_api.py
  backend/uv.lock
Due: pyright

fix(websocket): add security controls for Monte Carlo simulations (#245)
  backend/src/worth_it/api.py
  backend/src/worth_it/config.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

fix(websocket): address PR review comments for security controls
  backend/src/worth_it/api.py
  backend/src/worth_it/models.py
Due: pyright

test(e2e): add WebSocket security control tests
  playwright/tests/14-websocket-integration.spec.ts
Due: none

fix(websocket): add security controls for Monte Carlo simulations (#245) (#260)
  backend/pyproject.toml
  backend/src/worth_it/api.py
  backend/src/worth_it/config.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/uv.lock
Due: pyright

feat(dx): automate API schema synchronization (#235) (#264)
  frontend/lib/generated/api-schemas.ts
  frontend/lib/generated/index.ts
  frontend/package-lock.json
  frontend/package.json
  scripts/generate-types.sh
Due: frontend-lint, frontend-typecheck

fix(monte-carlo): guard visualizations against empty datasets (#254) (#267)
  frontend/__tests__/components/charts/monte-carlo-visualizations.test.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
Due: frontend-lint, frontend-typecheck

fix(frontend): prevent stale calculation results from overlapping requests (#256) (#266)
  frontend/__tests__/lib/hooks/use-cancellable-mutation.test.tsx
  frontend/app/page.tsx
  frontend/lib/api-client.ts
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-cancellable-mutation.ts
Due: frontend-lint, frontend-typecheck

refactor(frontend): extract dashboard components and calculation hook (#234) (#265)
  frontend/__tests__/components/dashboard/employee-dashboard.test.tsx
  frontend/__tests__/components/dashboard/founder-dashboard.test.tsx
  frontend/__tests__/lib/hooks/use-scenario-calculation.test.tsx
  frontend/app/page.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/dashboard/founder-dashboard.tsx
  frontend/components/dashboard/index.ts
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-scenario-calculation.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

docs: add error schema alignment design for issue #244
  docs/plans/2025-12-20-error-schema-design.md
Due: none

feat(api): align API error schema with frontend handling (#244)
  backend/src/worth_it/api.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_integration.py
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/hooks/use-scenario-calculation.test.tsx
  frontend/__tests__/lib/schemas.test.ts
  frontend/lib/api-client.ts
  frontend/lib/hooks/use-scenario-calculation.ts
  frontend/lib/schemas.ts
Due: pyright, frontend-lint, frontend-typecheck

docs: add layout shift fix design for issue #241
  docs/plans/2025-12-20-layout-shift-fix-design.md
Due: none

fix: address code review feedback
  backend/src/worth_it/models.py
  frontend/lib/hooks/use-scenario-calculation.ts
  frontend/lib/schemas.ts
Due: pyright, frontend-lint, frontend-typecheck

test(e2e): add structured error schema tests
  playwright/tests/28-error-schema.spec.ts
Due: none

feat(api): align API error schema with frontend handling (#268)
  backend/src/worth_it/api.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_integration.py
  docs/plans/2025-12-20-error-schema-design.md
  docs/plans/2025-12-20-layout-shift-fix-design.md
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/hooks/use-scenario-calculation.test.tsx
  frontend/__tests__/lib/schemas.test.ts
  frontend/lib/api-client.ts
  frontend/lib/hooks/use-scenario-calculation.ts
  frontend/lib/schemas.ts
  playwright/tests/28-error-schema.spec.ts
Due: pyright, frontend-lint, frontend-typecheck

fix(frontend): eliminate layout shift when switching app modes (#241)
  frontend/__tests__/lib/motion.test.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/lib/motion.tsx
Due: frontend-lint, frontend-typecheck

fix: address code review feedback
  docs/plans/2025-12-20-layout-shift-fix-design.md
  frontend/app/page.tsx
  playwright/tests/28-layout-stability.spec.ts
Due: frontend-lint, frontend-typecheck

fix(frontend): eliminate layout shift when switching app modes (#241) (#269)
  docs/plans/2025-12-20-layout-shift-fix-design.md
  frontend/__tests__/lib/motion.test.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/lib/motion.tsx
  playwright/tests/28-layout-stability.spec.ts
Due: frontend-lint, frontend-typecheck

docs: add typed request payloads design for issue #248
  docs/plans/2025-12-21-typed-request-payloads-design.md
Due: none

feat(backend): add VariableParam enum and SimParamRange model
  backend/src/worth_it/models.py
  backend/tests/test_typed_models.py
Due: pyright

feat(backend): add RSUParams and StockOptionsParams models
  backend/src/worth_it/models.py
  backend/tests/test_typed_models.py
Due: pyright

feat(backend): add TypedBaseParams model with discriminated union
  backend/src/worth_it/models.py
  backend/tests/test_typed_models.py
Due: pyright

feat(backend): update MonteCarloRequest and SensitivityAnalysisRequest to use typed models
  backend/src/worth_it/models.py
  backend/tests/test_typed_models.py
Due: pyright

feat(backend): update StartupScenarioRequest to use typed startup_params
  backend/src/worth_it/models.py
  backend/tests/test_typed_models.py
Due: pyright

feat(backend): add typed API conversion layer and update tests (#248)
  backend/src/worth_it/api.py
  backend/src/worth_it/models.py
  backend/src/worth_it/services/__init__.py
  backend/src/worth_it/services/serializers.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_integration.py
  docs/plans/2025-12-21-typed-request-payloads-implementation.md
Due: pyright

feat(frontend): add typed API schemas and update components (#248)
  frontend/__tests__/fixtures/typed-payloads.ts
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/schemas.test.ts
  frontend/__tests__/lib/sensitivity-utils.test.ts
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/lib/hooks/use-scenario-calculation.ts
  frontend/lib/schemas.ts
  frontend/lib/sensitivity-utils.ts
Due: frontend-lint, frontend-typecheck

chore(playwright): optimize worker count for local E2E tests
  playwright.config.ts
Due: none

fix(e2e): improve E2E test reliability with explicit timeouts
  playwright/fixtures/base.ts
  playwright/tests/01-api-health.spec.ts
  playwright/tests/08-ui-features.spec.ts
  playwright/tests/12-api-validation.spec.ts
  playwright/tests/15-cross-feature.spec.ts
  playwright/tests/16-error-handling.spec.ts
  playwright/utils/helpers.ts
  playwright/utils/test-data.ts
Due: none

fix: Resolve CI failures in backend lint and tests
  backend/src/worth_it/api.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_typed_models.py
  frontend/test-results/.last-run.json
Due: pyright

fix: Resolve mypy type error in exit_year validator
  backend/src/worth_it/models.py
Due: pyright

feat: Add typed models for dynamic request payloads (#248) (#270)
  backend/src/worth_it/api.py
  backend/src/worth_it/models.py
  backend/src/worth_it/services/__init__.py
  backend/src/worth_it/services/serializers.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_integration.py
  backend/tests/test_typed_models.py
  docs/plans/2025-12-21-typed-request-payloads-design.md
  docs/plans/2025-12-21-typed-request-payloads-implementation.md
  frontend/__tests__/fixtures/typed-payloads.ts
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/schemas.test.ts
  frontend/__tests__/lib/sensitivity-utils.test.ts
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/lib/hooks/use-scenario-calculation.ts
  frontend/lib/schemas.ts
  frontend/lib/sensitivity-utils.ts
  frontend/test-results/.last-run.json
  playwright.config.ts
  playwright/fixtures/base.ts
  playwright/tests/01-api-health.spec.ts
  playwright/tests/08-ui-features.spec.ts
  playwright/tests/12-api-validation.spec.ts
  playwright/tests/15-cross-feature.spec.ts
  playwright/tests/16-error-handling.spec.ts
  playwright/utils/helpers.ts
  playwright/utils/test-data.ts
Due: pyright, frontend-lint, frontend-typecheck
