Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier, frontend-lint, frontend-typecheck, deptry, depcheck

Path conditions:
  pyright: any of: ^backend/src/worth_it/
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: ^(frontend/playwright-report/|frontend/test-results/|frontend/lib/generated/)
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: ^frontend/lib/generated/
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/lib/generated/
  deptry: any of: ^backend/(pyproject\.toml|uv\.lock)$
  depcheck: any of: ^frontend/package\.json$

feat(valuation): integrate industry benchmarks into calculator
  frontend/components/valuation/dcf-form.tsx
  frontend/components/valuation/revenue-multiple-form.tsx
  frontend/components/valuation/valuation-calculator.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(valuation): address PR #291 review feedback
  backend/src/worth_it/calculations/benchmarks.py
  frontend/components/valuation/dcf-form.tsx
  frontend/lib/hooks/use-benchmark-validation.ts
Due: pyright, prettier, frontend-lint, frontend-typecheck

feat(frontend): add useBenchmarkValidation hook for form input validation
  frontend/__tests__/lib/hooks/use-benchmark-validation.test.ts
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-benchmark-validation.ts
Due: prettier, frontend-lint, frontend-typecheck

test(e2e): add industry benchmarks E2E tests for valuation calculator
  playwright/tests/27-valuation-calculator.spec.ts
Due: none

feat(benchmarks): add industry benchmark data for 15+ sectors
  backend/src/worth_it/calculations/benchmarks.py
  backend/src/worth_it/data/industry_benchmarks.json
  backend/tests/test_benchmarks.py
Due: pyright

feat(valuation): add benchmark API endpoints (Phase 4)
  backend/src/worth_it/api/routers/valuation.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

feat(frontend): add industry benchmark schemas and API client
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add IndustrySelector component for benchmark integration
  frontend/__tests__/components/valuation/industry-selector.test.tsx
  frontend/components/valuation/index.ts
  frontend/components/valuation/industry-selector.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add BenchmarkWarning component for validation feedback
  frontend/__tests__/components/valuation/benchmark-warning.test.tsx
  frontend/components/valuation/benchmark-warning.tsx
  frontend/components/valuation/index.ts
Due: prettier, frontend-lint, frontend-typecheck

feat(reports): add report builder service for First Chicago and pre-revenue methods
  backend/src/worth_it/reports/__init__.py
  backend/src/worth_it/reports/builder.py
  backend/tests/test_reports.py
Due: pyright

feat(api): add export endpoints for PDF/JSON/CSV reports
  backend/src/worth_it/api/__init__.py
  backend/src/worth_it/api/routers/export.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
Due: pyright

feat(frontend): add export Zod schemas and API client methods (Phase 5)
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: prettier, frontend-lint, frontend-typecheck

refactor(ui): remove unused components and polish UI
  backend/pyproject.toml
  backend/uv.lock
  frontend/app/about/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/app/valuation/page.tsx
  frontend/components/charts/monte-carlo/BoxPlotChart.tsx
  frontend/components/charts/monte-carlo/ECDFChart.tsx
  frontend/components/charts/monte-carlo/HistogramChart.tsx
  frontend/components/charts/monte-carlo/PDFChart.tsx
  frontend/components/charts/monte-carlo/ScatterPlotChart.tsx
  frontend/components/charts/monte-carlo/StatisticsTable.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/dilution-round-form.tsx
  frontend/components/forms/dilution-summary-card.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/results/quick-adjust-panel.tsx
  frontend/components/templates/template-picker.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/information-box.tsx
  frontend/components/ui/navigation-menu.tsx
Due: prettier, frontend-lint, frontend-typecheck, deptry

feat(reports): add report data models
  backend/src/worth_it/reports/__init__.py
  backend/src/worth_it/reports/models.py
  backend/tests/test_reports.py
Due: pyright

feat(reports): add negotiation range calculator for term sheet discussions
  backend/src/worth_it/reports/__init__.py
  backend/src/worth_it/reports/negotiation.py
  backend/tests/test_reports.py
Due: pyright

test(e2e): add export functionality and negotiation range E2E tests
  backend/src/worth_it/api/routers/export.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  playwright/tests/27-valuation-calculator.spec.ts
Due: pyright

feat(reports): add PDF report generator with ReportLab
  backend/src/worth_it/reports/__init__.py
  backend/src/worth_it/reports/pdf_generator.py
  backend/tests/test_reports.py
Due: pyright

feat(frontend): add ExportButton component with format dropdown (Phase 5)
  frontend/__tests__/components/valuation/export-button.test.tsx
  frontend/components/valuation/export-button.tsx
Due: prettier, frontend-lint, frontend-typecheck

feat(frontend): add NegotiationRange visualization component
  frontend/__tests__/components/valuation/negotiation-range.test.tsx
  frontend/components/valuation/negotiation-range.tsx
Due: prettier, frontend-lint, frontend-typecheck

fix(reports): address PR #292 review feedback
  backend/src/worth_it/reports/builder.py
  backend/src/worth_it/reports/negotiation.py
  backend/tests/test_reports.py
Due: pyright

fix(reports): address PR #292 review comments
  backend/src/worth_it/reports/negotiation.py
  backend/tests/test_api.py
  backend/tests/test_reports.py
  frontend/components/valuation/export-button.tsx
  playwright/tests/27-valuation-calculator.spec.ts
Due: pyright, prettier, frontend-lint, frontend-typecheck

fix(tests): use structured error format in export validation test
  backend/tests/test_api.py
Due: none

feat(valuation): add Real Options valuation using Black-Scholes
  backend/src/worth_it/calculations/real_options.py
  backend/tests/test_real_options.py
Due: pyright

feat(valuation): add Enhanced DCF with multi-stage growth modeling
  backend/src/worth_it/calculations/valuation.py
  backend/tests/test_valuation.py
Due: pyright

feat(valuation): add Weighted Average valuation synthesis
  backend/src/worth_it/calculations/weighted_average.py
  backend/tests/test_weighted_average.py
Due: pyright
