Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run --with pre-commit pre-commit install
# Run manually: uv run --with pre-commit pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python code formatting with ruff (matches CI: ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      # Linter - auto-fix issues before commit
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy (matches CI files)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - pandas-stubs
        args: [--ignore-missing-imports]
        files: ^backend/src/worth_it/(calculations|api|models)\.py$

  # Type checking with pyright (matches CI)
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && uv run pyright src/worth_it/calculations.py src/worth_it/api.py src/worth_it/models.py'
        language: system
        files: ^backend/src/worth_it/(calculations|api|models)\.py$
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ['-c', 'backend/pyproject.toml']
        additional_dependencies: ['bandit[toml]']
        files: ^backend/

  # Frontend linting (matches CI: npm run lint)
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

Disable automatic Playwright CI runs to reduce costs (#97)
  .github/workflows/playwright.yml
  package.json
  scripts/run-e2e-tests.sh
Due: none

Add Next.js optimization configuration
  frontend/next.config.ts
Due: frontend-lint, frontend-typecheck

Extract hardcoded dilution round defaults to constants
  frontend/components/forms/rsu-form.tsx
  frontend/lib/constants/funding-rounds.ts
Due: frontend-lint, frontend-typecheck

Update frontend/next.config.ts
  frontend/next.config.ts
Due: frontend-lint, frontend-typecheck

Fix error handling to avoid exposing implementation details
  backend/src/worth_it/api.py
  backend/src/worth_it/exceptions.py
  backend/tests/test_api.py
Due: pyright

Fix import sorting in test_api.py
  backend/tests/test_api.py
Due: none

Add ARIA labels to chart components for improved accessibility
  frontend/components/charts/cumulative-comparison-chart.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
  frontend/components/charts/opportunity-cost-chart.tsx
Due: frontend-lint, frontend-typecheck

Add TypedDict definitions for improved type safety
  backend/src/worth_it/types.py
Due: none

Clarify infinity handling in breakeven calculation
  backend/src/worth_it/calculations.py
Due: pyright

Update backend/src/worth_it/calculations.py
  backend/src/worth_it/calculations.py
Due: pyright

Extract duplicated enum conversion logic into utility function
  backend/src/worth_it/api.py
Due: pyright

Add explicit error handling to dilution calculation
  .claude/settings.json
  backend/src/worth_it/calculations.py
  backend/src/worth_it/types.py
  backend/tests/test_calculations.py
  frontend/components/charts/monte-carlo/BoxPlotChart.tsx
  frontend/components/charts/monte-carlo/ECDFChart.tsx
  frontend/components/charts/monte-carlo/HistogramChart.tsx
  frontend/components/charts/monte-carlo/PDFChart.tsx
  frontend/components/charts/monte-carlo/ScatterPlotChart.tsx
  frontend/components/charts/monte-carlo/StatisticsTable.tsx
  frontend/components/charts/monte-carlo/hooks/use-monte-carlo-stats.ts
  frontend/components/charts/monte-carlo/utils.ts
  frontend/lib/constants/funding-rounds.ts
Due: pyright, frontend-lint, frontend-typecheck

Add WebSocket tests for Monte Carlo endpoint
  backend/tests/test_api.py
Due: none

Fix Playwright CI workflow
  .github/workflows/playwright-pr.yaml
Due: none

Fix backend lint errors
  backend/src/worth_it/types.py
Due: none

Fix backend lint errors
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/types.py
  backend/tests/test_api.py
Due: pyright

Fix backend lint errors
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/tests/test_api.py
Due: pyright

Add explicit error handling to dilution calculation (#84)
  .claude/settings.json
  backend/src/worth_it/calculations.py
  backend/src/worth_it/types.py
  backend/tests/test_calculations.py
  frontend/components/charts/monte-carlo/BoxPlotChart.tsx
  frontend/components/charts/monte-carlo/ECDFChart.tsx
  frontend/components/charts/monte-carlo/HistogramChart.tsx
  frontend/components/charts/monte-carlo/PDFChart.tsx
  frontend/components/charts/monte-carlo/ScatterPlotChart.tsx
  frontend/components/charts/monte-carlo/StatisticsTable.tsx
  frontend/components/charts/monte-carlo/hooks/use-monte-carlo-stats.ts
  frontend/components/charts/monte-carlo/utils.ts
  frontend/lib/constants/funding-rounds.ts
Due: pyright, frontend-lint, frontend-typecheck

Add WebSocket tests for Monte Carlo endpoint (#87)
  backend/tests/test_api.py
Due: none

Split monte-carlo-visualizations into smaller components
  frontend/components/charts/monte-carlo-visualizations.tsx
  frontend/components/charts/monte-carlo/index.ts
  frontend/components/charts/monte-carlo/monte-carlo-box-plot.tsx
  frontend/components/charts/monte-carlo/monte-carlo-ecdf.tsx
  frontend/components/charts/monte-carlo/monte-carlo-histogram.tsx
  frontend/components/charts/monte-carlo/monte-carlo-pdf.tsx
  frontend/components/charts/monte-carlo/monte-carlo-scatter.tsx
  frontend/components/charts/monte-carlo/monte-carlo-statistics.tsx
  frontend/components/charts/monte-carlo/monte-carlo-summary.tsx
  frontend/components/charts/monte-carlo/types.ts
  frontend/components/charts/monte-carlo/utils.ts
Due: frontend-lint, frontend-typecheck

Split monte-carlo-visualizations into smaller components (#94)
  frontend/components/charts/monte-carlo-visualizations.tsx
  frontend/components/charts/monte-carlo/index.ts
  frontend/components/charts/monte-carlo/monte-carlo-box-plot.tsx
  frontend/components/charts/monte-carlo/monte-carlo-ecdf.tsx
  frontend/components/charts/monte-carlo/monte-carlo-histogram.tsx
  frontend/components/charts/monte-carlo/monte-carlo-pdf.tsx
  frontend/components/charts/monte-carlo/monte-carlo-scatter.tsx
  frontend/components/charts/monte-carlo/monte-carlo-statistics.tsx
  frontend/components/charts/monte-carlo/monte-carlo-summary.tsx
  frontend/components/charts/monte-carlo/types.ts
  frontend/components/charts/monte-carlo/utils.ts
Due: frontend-lint, frontend-typecheck

Improve WebSocket error handling specificity in frontend
  frontend/lib/api-client.ts
Due: frontend-lint, frontend-typecheck

Improve WebSocket error handling specificity in frontend (#92)
  frontend/lib/api-client.ts
Due: frontend-lint, frontend-typecheck
