Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run --with pre-commit pre-commit install
# Run manually: uv run --with pre-commit pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python code formatting with ruff (matches CI: ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      # Linter - auto-fix issues before commit
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy (matches CI files)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - pandas-stubs
        args: [--ignore-missing-imports]
        files: ^backend/src/worth_it/(calculations|api|models)\.py$

  # Type checking with pyright (matches CI)
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && uv run pyright src/worth_it/calculations.py src/worth_it/api.py src/worth_it/models.py'
        language: system
        files: ^backend/src/worth_it/(calculations|api|models)\.py$
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ['-c', 'backend/pyproject.toml']
        additional_dependencies: ['bandit[toml]']
        files: ^backend/

  # Frontend linting (matches CI: npm run lint)
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

Update documentation with accurate test counts and structure
  CLAUDE.md
  README.md
  docs/IMPROVEMENTS.md
Due: none

Extract Monte Carlo functions to separate module
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/monte_carlo.py
Due: pyright

Update documentation with accurate test counts and structure (#98)
  CLAUDE.md
  README.md
  docs/IMPROVEMENTS.md
Due: none

Add export functionality to scenario results
  frontend/components/results/scenario-results.tsx
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

Address code review comments for Monte Carlo extraction
  backend/src/worth_it/calculations.py
  backend/src/worth_it/monte_carlo.py
Due: pyright

Extract Monte Carlo functions to separate module (#99)
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/monte_carlo.py
  frontend/components/results/scenario-results.tsx
  frontend/lib/export-utils.ts
Due: pyright, frontend-lint, frontend-typecheck

Address code review comments for PR #100
  frontend/components/results/scenario-results.tsx
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

Address code review comments for PR #100 (#100)
  frontend/components/results/scenario-results.tsx
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

Fix npm run lint script to include target directory
  frontend/package.json
Due: none

Fix npm run lint script to include target directory (#102)
  frontend/package.json
Due: none

Extract duplicated enum conversion logic into helper function
  backend/src/worth_it/api.py
  frontend/components/charts/cumulative-comparison-chart.tsx
  frontend/components/charts/opportunity-cost-chart.tsx
  frontend/components/results/scenario-results.tsx
  frontend/lib/format-utils.ts
Due: pyright, frontend-lint, frontend-typecheck

Extract duplicated enum conversion logic into helper function (#104)
  backend/src/worth_it/api.py
  frontend/components/charts/cumulative-comparison-chart.tsx
  frontend/components/charts/opportunity-cost-chart.tsx
  frontend/components/results/scenario-results.tsx
  frontend/lib/format-utils.ts
Due: pyright, frontend-lint, frontend-typecheck

Replace dict[str, Any] with proper typed models
  backend/src/worth_it/calculations.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
Due: pyright

Address review comments: use dict[str, Any] instead of bare dict
  backend/src/worth_it/calculations.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
Due: pyright

Replace dict[str, Any] with proper typed models (#103)
  backend/src/worth_it/calculations.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
Due: pyright

Extract duplicated formatCurrency function into shared utility
  frontend/components/charts/monte-carlo/utils.ts
Due: frontend-lint, frontend-typecheck

Extract duplicated formatCurrency function into shared utility (#105)
  frontend/components/charts/monte-carlo/utils.ts
Due: frontend-lint, frontend-typecheck

Add unit and component tests for frontend
  .github/workflows/test.yml
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/export-utils.test.ts
  frontend/__tests__/lib/hooks/use-debounce.test.ts
  frontend/__tests__/lib/schemas.test.ts
  frontend/__tests__/lib/use-deep-compare.test.ts
  frontend/__tests__/lib/utils.test.ts
  frontend/__tests__/setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: frontend-lint, frontend-typecheck

Fix coverage threshold failure by excluding phantom format-utils.ts
  frontend/vitest.config.ts
Due: frontend-lint, frontend-typecheck

Update CLAUDE.md with frontend unit testing documentation
  CLAUDE.md
Due: none

Add unit and component tests for frontend (#106)
  .github/workflows/test.yml
  CLAUDE.md
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/export-utils.test.ts
  frontend/__tests__/lib/hooks/use-debounce.test.ts
  frontend/__tests__/lib/schemas.test.ts
  frontend/__tests__/lib/use-deep-compare.test.ts
  frontend/__tests__/lib/utils.test.ts
  frontend/__tests__/setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vitest.config.ts
Due: frontend-lint, frontend-typecheck

Update frontend to editorial design with serif display typography
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/layout/app-shell.tsx
  frontend/components/layout/header.tsx
  frontend/components/layout/sidebar.tsx
  frontend/components/results/scenario-results.tsx
Due: frontend-lint, frontend-typecheck

update
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/layout/app-shell.tsx
  frontend/components/layout/header.tsx
  frontend/components/layout/sidebar.tsx
  frontend/components/results/scenario-results.tsx
Due: frontend-lint, frontend-typecheck

Add yearly salary data to results and standardize API column names
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/tests/test_api.py
  frontend/app/globals.css
  frontend/package-lock.json
  frontend/package.json
Due: pyright

Remove unused dependencies to reduce code size
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

Add dependency auditing to pre-commit hooks
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/uv.lock
Due: none

Implement multiple GitHub issues in parallel
  backend/pyproject.toml
  backend/src/worth_it/api.py
  backend/src/worth_it/config.py
  backend/src/worth_it/monte_carlo.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/uv.lock
  frontend/app/page.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/components/scenarios/scenario-manager.tsx
  frontend/lib/export-utils.ts
Due: pyright, frontend-lint, frontend-typecheck

fix: repair broken imports and add growth simulation feature
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/equity.py
  backend/src/worth_it/financial_metrics.py
  backend/src/worth_it/growth_engine.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
  backend/src/worth_it/types.py
  backend/tests/test_api_growth.py
  backend/tests/test_calculations.py
  backend/tests/test_growth_engine.py
  backend/tests/test_integration.py
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/charts/RunwayChart.tsx
  frontend/components/simulation/GrowthParameters.tsx
  frontend/components/ui/alert.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
  frontend/lib/utils.ts
  frontend/package-lock.json
Due: pyright, frontend-lint, frontend-typecheck

fix: improve number display and chart colors in frontend
  frontend/components/charts/cumulative-comparison-chart.tsx
  frontend/components/charts/monte-carlo/BoxPlotChart.tsx
  frontend/components/charts/monte-carlo/ECDFChart.tsx
  frontend/components/charts/monte-carlo/HistogramChart.tsx
  frontend/components/charts/monte-carlo/PDFChart.tsx
  frontend/components/charts/monte-carlo/ScatterPlotChart.tsx
  frontend/components/charts/monte-carlo/monte-carlo-box-plot.tsx
  frontend/components/charts/monte-carlo/monte-carlo-ecdf.tsx
  frontend/components/charts/monte-carlo/monte-carlo-histogram.tsx
  frontend/components/charts/monte-carlo/monte-carlo-pdf.tsx
  frontend/components/charts/monte-carlo/monte-carlo-scatter.tsx
  frontend/components/charts/monte-carlo/utils.ts
  frontend/components/charts/opportunity-cost-chart.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/forms/stock-options-form.tsx
  frontend/components/results/scenario-results.tsx
Due: frontend-lint, frontend-typecheck

fix: repair broken imports and add growth simulation feature (#108)
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/equity.py
  backend/src/worth_it/financial_metrics.py
  backend/src/worth_it/growth_engine.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
  backend/src/worth_it/types.py
  backend/tests/test_api_growth.py
  backend/tests/test_calculations.py
  backend/tests/test_growth_engine.py
  backend/tests/test_integration.py
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/charts/RunwayChart.tsx
  frontend/components/simulation/GrowthParameters.tsx
  frontend/components/ui/alert.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
  frontend/lib/utils.ts
  frontend/package-lock.json
Due: pyright, frontend-lint, frontend-typecheck

Revert "fix: repair broken imports and add growth simulation feature (#108)"
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/equity.py
  backend/src/worth_it/financial_metrics.py
  backend/src/worth_it/growth_engine.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
  backend/src/worth_it/types.py
  backend/tests/test_api_growth.py
  backend/tests/test_calculations.py
  backend/tests/test_growth_engine.py
  backend/tests/test_integration.py
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/charts/RunwayChart.tsx
  frontend/components/simulation/GrowthParameters.tsx
  frontend/components/ui/alert.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
  frontend/lib/utils.ts
  frontend/package-lock.json
Due: pyright, frontend-lint, frontend-typecheck

feat: add Founder Mode with cap table simulator
  docs/plans/2025-12-05-cap-table-design.md
  frontend/__tests__/setup.ts
  frontend/app/page.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/exit-calculator.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/components/cap-table/index.ts
  frontend/components/cap-table/ownership-chart.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/components/cap-table/safe-form.tsx
  frontend/components/cap-table/stakeholder-form.tsx
  frontend/components/forms/dilution-round-form.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/ui/table.tsx
  frontend/lib/motion.tsx
  frontend/lib/schemas.ts
  frontend/package-lock.json
  frontend/package.json
  scripts/start.sh
Due: frontend-lint, frontend-typecheck

fix: address PR review comments for founder mode cap table
  frontend/__tests__/setup.ts
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/lib/motion.tsx
  frontend/lib/utils.ts
Due: frontend-lint, frontend-typecheck

feat: add Founder Mode with cap table simulator (#115)
  docs/plans/2025-12-05-cap-table-design.md
  frontend/__tests__/setup.ts
  frontend/app/page.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/exit-calculator.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/components/cap-table/index.ts
  frontend/components/cap-table/ownership-chart.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/components/cap-table/safe-form.tsx
  frontend/components/cap-table/stakeholder-form.tsx
  frontend/components/forms/dilution-round-form.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/ui/table.tsx
  frontend/lib/motion.tsx
  frontend/lib/schemas.ts
  frontend/lib/utils.ts
  frontend/package-lock.json
  frontend/package.json
  scripts/start.sh
Due: frontend-lint, frontend-typecheck

docs: Add README with local setup instructions
  README.md
Due: none

feat: add SAFE and Convertible Note conversion calculations (#109)
  CLAUDE.md
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_calculations.py
  docs/plans/2025-12-10-safe-note-conversion-design.md
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: pyright, frontend-lint, frontend-typecheck

fix: address PR review comments for conversion calculations
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/tests/test_api.py
  backend/tests/test_calculations.py
Due: pyright

docs: add PR workflow section requiring GitHub Actions checks
  CLAUDE.md
Due: none

fix: resolve CI workflow failures
  backend/src/worth_it/calculations.py
  frontend/vitest.config.ts
Due: pyright, frontend-lint, frontend-typecheck
