Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run --with pre-commit pre-commit install
# Run manually: uv run --with pre-commit pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python code formatting with ruff (matches CI: ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      # Linter - auto-fix issues before commit
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy (matches CI files)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - pandas-stubs
        args: [--ignore-missing-imports]
        files: ^backend/src/worth_it/(calculations|api|models)\.py$

  # Type checking with pyright (matches CI)
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && uv run pyright src/worth_it/calculations.py src/worth_it/api.py src/worth_it/models.py'
        language: system
        files: ^backend/src/worth_it/(calculations|api|models)\.py$
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ['-c', 'backend/pyproject.toml']
        additional_dependencies: ['bandit[toml]']
        files: ^backend/

  # Frontend linting (matches CI: npm run lint)
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

refactor(api): split monolithic api.py into domain-specific routers (#247)
  backend/src/worth_it/api.py
  backend/src/worth_it/api/__init__.py
  backend/src/worth_it/api/dependencies.py
  backend/src/worth_it/api/routers/__init__.py
  backend/src/worth_it/api/routers/cap_table.py
  backend/src/worth_it/api/routers/monte_carlo.py
  backend/src/worth_it/api/routers/scenarios.py
  backend/src/worth_it/api/routers/valuation.py
  docs/plans/2025-12-21-api-router-refactor-design.md
Due: pyright

Revert "refactor(api): split monolithic api.py into domain-specific routers (#247)"
  backend/src/worth_it/api.py
  backend/src/worth_it/api/__init__.py
  backend/src/worth_it/api/dependencies.py
  backend/src/worth_it/api/routers/__init__.py
  backend/src/worth_it/api/routers/cap_table.py
  backend/src/worth_it/api/routers/monte_carlo.py
  backend/src/worth_it/api/routers/scenarios.py
  backend/src/worth_it/api/routers/valuation.py
  docs/plans/2025-12-21-api-router-refactor-design.md
Due: pyright

fix(ci): update workflow to reference api/ directory instead of api.py
  .github/workflows/test.yml
Due: none

Update docs/plans/2025-12-21-api-router-refactor-design.md
  docs/plans/2025-12-21-api-router-refactor-design.md
Due: none

refactor(api): split monolithic api.py into domain-specific routers (#271)
  .github/workflows/test.yml
  backend/src/worth_it/api.py
  backend/src/worth_it/api/__init__.py
  backend/src/worth_it/api/dependencies.py
  backend/src/worth_it/api/routers/__init__.py
  backend/src/worth_it/api/routers/cap_table.py
  backend/src/worth_it/api/routers/monte_carlo.py
  backend/src/worth_it/api/routers/scenarios.py
  backend/src/worth_it/api/routers/valuation.py
  docs/plans/2025-12-21-api-router-refactor-design.md
Due: pyright

docs: add dilution engine design for issue #236
  docs/plans/2025-12-21-dilution-engine-design.md
Due: none

docs: add dilution engine implementation plan
  docs/plans/2025-12-21-dilution-engine-implementation.md
Due: none

feat(dilution): add DilutionResult dataclass
  backend/src/worth_it/calculations/dilution_engine.py
  backend/tests/test_dilution_engine.py
Due: none

feat(dilution): add DilutionPipeline base with with_rounds
  backend/src/worth_it/calculations/dilution_engine.py
  backend/tests/test_dilution_engine.py
Due: none

feat(dilution): add with_simulated_dilution shortcut
  backend/src/worth_it/calculations/dilution_engine.py
  backend/tests/test_dilution_engine.py
Due: none

feat(dilution): add classify() for round separation
  backend/src/worth_it/calculations/dilution_engine.py
  backend/tests/test_dilution_engine.py
Due: none

feat(dilution): add apply_historical() for completed rounds
  backend/src/worth_it/calculations/dilution_engine.py
  backend/tests/test_dilution_engine.py
Due: none

feat(dilution): add apply_safe_conversions() for SAFE timing
  backend/src/worth_it/calculations/dilution_engine.py
  backend/tests/test_dilution_engine.py
Due: none

feat(dilution): add apply_future_rounds() for yearly factors
  backend/src/worth_it/calculations/dilution_engine.py
  backend/tests/test_dilution_engine.py
Due: none

feat(dilution): complete DilutionEngine integration and documentation (#236)
  backend/CLAUDE.md
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/dilution_engine.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/tests/test_dilution_engine.py
Due: none

refactor(waterfall): adopt fluent pipeline pattern (#275)
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/waterfall.py
  backend/src/worth_it/calculations/waterfall_engine.py
  backend/tests/test_waterfall_engine.py
Due: none

refactor(cap_table): adopt fluent pipeline pattern (#274)
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/cap_table.py
  backend/src/worth_it/calculations/conversion_engine.py
  backend/tests/test_conversion_engine.py
Due: none

feat(#278): add NPV comparison for opportunity cost and payout
  backend/src/worth_it/api/routers/scenarios.py
  backend/src/worth_it/calculations/opportunity_cost.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/models.py
  backend/src/worth_it/services/serializers.py
  backend/src/worth_it/services/startup_service.py
  backend/tests/test_npv_comparison.py
Due: pyright

feat(#278): add NPV toggle to scenario results display
  frontend/components/results/scenario-results.tsx
  frontend/lib/schemas.ts
Due: frontend-lint, frontend-typecheck

perf(monte-carlo): vectorize annual aggregation for 3x speedup (#246)
  backend/src/worth_it/monte_carlo.py
  backend/tests/test_monte_carlo_performance.py
Due: none

refactor(opportunity-cost): apply Strategy Pattern for investment frequency (#279)
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/investment_strategies.py
  backend/src/worth_it/calculations/opportunity_cost.py
  backend/tests/test_investment_strategies.py
Due: none

refactor: apply Template Method pattern to Monte Carlo simulation (#280)
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/monte_carlo_simulation.py
  backend/tests/test_investment_strategies.py
  backend/tests/test_monte_carlo_simulation.py
Due: none

feat(mobile): implement tabbed view for mobile inputs/results (#238)
  frontend/__tests__/components/dashboard/employee-dashboard.test.tsx
  frontend/__tests__/components/layout/bottom-nav.test.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/layout/app-shell.tsx
  frontend/components/layout/bottom-nav.tsx
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-mobile-view.tsx
Due: frontend-lint, frontend-typecheck

fix: address Copilot review comments on startup_scenario.py
  backend/src/worth_it/calculations/startup_scenario.py
Due: none

feat(dilution): Extract dilution logic into DilutionEngine with fluent pipeline pattern (#236) (#277)
  backend/CLAUDE.md
  backend/src/worth_it/api/routers/scenarios.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/cap_table.py
  backend/src/worth_it/calculations/conversion_engine.py
  backend/src/worth_it/calculations/dilution_engine.py
  backend/src/worth_it/calculations/investment_strategies.py
  backend/src/worth_it/calculations/monte_carlo_simulation.py
  backend/src/worth_it/calculations/opportunity_cost.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/calculations/waterfall.py
  backend/src/worth_it/calculations/waterfall_engine.py
  backend/src/worth_it/models.py
  backend/src/worth_it/monte_carlo.py
  backend/src/worth_it/services/serializers.py
  backend/src/worth_it/services/startup_service.py
  backend/tests/test_conversion_engine.py
  backend/tests/test_dilution_engine.py
  backend/tests/test_investment_strategies.py
  backend/tests/test_monte_carlo_performance.py
  backend/tests/test_monte_carlo_simulation.py
  backend/tests/test_npv_comparison.py
  backend/tests/test_waterfall_engine.py
  docs/plans/2025-12-21-api-router-refactor-design.md
  docs/plans/2025-12-21-dilution-engine-design.md
  docs/plans/2025-12-21-dilution-engine-implementation.md
  frontend/__tests__/components/dashboard/employee-dashboard.test.tsx
  frontend/__tests__/components/layout/bottom-nav.test.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/layout/app-shell.tsx
  frontend/components/layout/bottom-nav.tsx
  frontend/components/results/scenario-results.tsx
  frontend/lib/hooks/index.ts
  frontend/lib/hooks/use-mobile-view.tsx
  frontend/lib/schemas.ts
Due: pyright, frontend-lint, frontend-typecheck

feat(frontend): implement optimistic UI with TanStack Query stale-while-revalidate (#239)
  frontend/__tests__/lib/hooks/use-scenario-calculation.test.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/results/scenario-results.tsx
  frontend/lib/api-client.ts
  frontend/lib/hooks/use-scenario-calculation.ts
Due: frontend-lint, frontend-typecheck

feat(frontend): implement optimistic UI with TanStack Query stale-while-revalidate (#239) (#281)
  frontend/__tests__/lib/hooks/use-scenario-calculation.test.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/results/scenario-results.tsx
  frontend/lib/api-client.ts
  frontend/lib/hooks/use-scenario-calculation.ts
Due: frontend-lint, frontend-typecheck

feat(ui): improve dark mode visibility and add collapsible forms
  frontend/__tests__/components/dashboard/founder-dashboard.test.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/app/valuation/page.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/components/dashboard/founder-dashboard.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/form-completion-summary.tsx
  frontend/components/forms/global-settings-form.tsx
  frontend/components/forms/startup-offer-form.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/checkbox.tsx
  frontend/components/ui/collapsible-card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/select.tsx
  frontend/components/ui/textarea.tsx
  playwright/tests/01-api-health.spec.ts
  playwright/tests/02-form-interactions.spec.ts
  playwright/tests/03-rsu-form.spec.ts
  playwright/tests/04-stock-options-form.spec.ts
  playwright/tests/05-rsu-scenario-flow.spec.ts
  playwright/tests/06-stock-options-scenario-flow.spec.ts
  playwright/tests/07-monte-carlo.spec.ts
  playwright/tests/08-ui-features.spec.ts
  playwright/tests/09-waterfall-analysis.spec.ts
  playwright/tests/10-export-functionality.spec.ts
  playwright/tests/11-scenario-management.spec.ts
  playwright/tests/12-api-validation.spec.ts
  playwright/tests/13-calculation-accuracy.spec.ts
  playwright/tests/15-cross-feature.spec.ts
  playwright/tests/16-error-handling.spec.ts
  playwright/utils/helpers.ts
Due: frontend-lint, frontend-typecheck

fix(ui): improve Dilution Overview card dark mode and formatting
  frontend/components/forms/dilution-summary-card.tsx
Due: frontend-lint, frontend-typecheck

fix(ui): comprehensive dark mode border and spacing improvements
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/valuation-slider.tsx
  frontend/components/cap-table/waterfall-chart.tsx
  frontend/components/charts/monte-carlo/StatisticsTable.tsx
  frontend/components/charts/monte-carlo/monte-carlo-statistics.tsx
  frontend/components/charts/sensitivity-analysis.tsx
  frontend/components/charts/tornado-chart.tsx
  frontend/components/dashboard/founder-dashboard.tsx
  frontend/components/dashboard/summary-card.tsx
  frontend/components/decision/recommendation.tsx
  frontend/components/forms/completed-rounds-section.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/dilution-round-form.tsx
  frontend/components/forms/form-completion-summary.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/forms/stock-options-form.tsx
  frontend/components/valuation/valuation-calculator.tsx
  frontend/components/valuation/valuation-comparison.tsx
  frontend/components/valuation/valuation-result.tsx
Due: frontend-lint, frontend-typecheck

fix(ui): address PR #282 review comments
  frontend/__tests__/components/forms/dilution-summary-card.test.tsx
  frontend/app/globals.css
  frontend/components/forms/distribution-section.tsx
  frontend/components/forms/monte-carlo-form.tsx
  frontend/components/ui/information-box.tsx
  playwright/tests/03-rsu-form.spec.ts
  playwright/tests/04-stock-options-form.spec.ts
Due: frontend-lint, frontend-typecheck

fix(e2e): correct API test enum values and response formats
  playwright/tests/12-api-validation.spec.ts
  playwright/tests/14-websocket-integration.spec.ts
  playwright/utils/test-data.ts
Due: none

fix(e2e): fix equity-timeline and cap-table-wizard tests
  playwright.config.ts
  playwright/tests/20-cap-table-wizard.spec.ts
  playwright/tests/21-equity-timeline.spec.ts
Due: none

fix(undo): route sidebar mutations through history-aware setters
  frontend/components/dashboard/founder-dashboard.tsx
Due: frontend-lint, frontend-typecheck

fix(ui): address PR #282 review comments
  frontend/__tests__/components/ui/collapsible-card.test.tsx
  frontend/app/page.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/dashboard/founder-dashboard.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/startup-offer-form.tsx
  frontend/components/ui/collapsible-card.tsx
  frontend/lib/hooks/use-first-visit.ts
Due: frontend-lint, frontend-typecheck

docs(backend): fix outdated file references in README
  backend/README.md
Due: none

feat(ux): add actionable buttons to empty state card
  frontend/__tests__/components/dashboard/actionable-empty-state.test.tsx
  frontend/__tests__/lib/validation.test.ts
  frontend/components/dashboard/actionable-empty-state.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/lib/validation.ts
Due: frontend-lint, frontend-typecheck

feat(ux): add actionable buttons to empty state card (#283)
  backend/README.md
  frontend/__tests__/components/dashboard/actionable-empty-state.test.tsx
  frontend/__tests__/lib/validation.test.ts
  frontend/components/dashboard/actionable-empty-state.tsx
  frontend/components/dashboard/employee-dashboard.tsx
  frontend/lib/validation.ts
Due: frontend-lint, frontend-typecheck
