Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint, frontend-typecheck

pyright:
  name: pyright
  entry: bash -c 'cd backend && uv run pyright src/worth_it/calculations.py src/worth_it/api.py src/worth_it/models.py'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend typecheck
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

feat: add explanations and plain-English summary to result metrics (#130)
  frontend/components/results/scenario-results.tsx
  frontend/lib/constants/result-explanations.ts
Due: frontend-lint, frontend-typecheck

feat: add loading skeletons instead of spinner (#134)
  frontend/components/results/scenario-results.tsx
  frontend/components/ui/skeleton.tsx
Due: frontend-lint, frontend-typecheck

refactor: consolidate duplicate CSS card classes (#140)
  frontend/app/about/page.tsx
  frontend/app/globals.css
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/global-settings-form.tsx
  frontend/components/forms/startup-offer-form.tsx
Due: frontend-lint, frontend-typecheck

docs: split CLAUDE.md into stack-specific files with Fundcy design refs
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  frontend/docs/design-references/fundcy-components.webp
  frontend/docs/design-references/fundcy-dashboard-1.webp
  frontend/docs/design-references/fundcy-dashboard-2.webp
  frontend/docs/design-references/fundcy-detail.webp
Due: none

docs: split CLAUDE.md into stack-specific files with Fundcy design refs (#207)
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  frontend/docs/design-references/fundcy-components.webp
  frontend/docs/design-references/fundcy-dashboard-1.webp
  frontend/docs/design-references/fundcy-dashboard-2.webp
  frontend/docs/design-references/fundcy-detail.webp
Due: none

fix(ui): align typography and chart headings with Fundcy design (#201)
  frontend/components/results/export-menu.tsx
  frontend/components/results/quick-adjust-panel.tsx
  frontend/components/results/scenario-results.tsx
Due: frontend-lint, frontend-typecheck

style: audit typography and cards against Fundcy design system (#208)
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/dilution-preview.tsx
  frontend/components/cap-table/dilution-table.tsx
  frontend/components/cap-table/exit-calculator.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/components/cap-table/preference-stack-editor.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/components/cap-table/valuation-slider.tsx
  frontend/components/cap-table/waterfall-analysis.tsx
  frontend/components/cap-table/waterfall-chart.tsx
  frontend/components/cap-table/waterfall-table.tsx
  frontend/components/draft-recovery-dialog.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/components/scenarios/scenario-manager.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/responsive-table.tsx
Due: frontend-lint, frontend-typecheck

update
  CLAUDE.md
  backend/src/worth_it/api.py
  frontend/CLAUDE.md
Due: pyright

feat: add completed vs upcoming funding round support
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/types.py
  backend/tests/test_calculations.py
  frontend/components/forms/company-stage-selector.tsx
  frontend/components/forms/completed-rounds-section.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/constants/funding-rounds.ts
  frontend/lib/schemas.ts
Due: frontend-lint, frontend-typecheck

feat: add completed vs upcoming funding round support (#209)
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/types.py
  backend/tests/test_calculations.py
  frontend/components/forms/company-stage-selector.tsx
  frontend/components/forms/completed-rounds-section.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/constants/funding-rounds.ts
  frontend/lib/schemas.ts
Due: frontend-lint, frontend-typecheck

chore: enable claude-mem plugin
  .claude/settings.json
Due: none

feat(ui): add dilution summary card with visual breakdown
  frontend/__tests__/components/forms/dilution-summary-card.test.tsx
  frontend/components/forms/dilution-summary-card.tsx
  frontend/components/forms/rsu-form.tsx
Due: frontend-lint, frontend-typecheck

test(e2e): add Playwright tests for completed rounds UI
  playwright/tests/17-completed-rounds.spec.ts
Due: none

docs: update README with completed rounds dilution modeling
  docs/README.md
Due: none

fix(e2e): update Playwright selectors for current UI structure
  playwright/tests/17-completed-rounds.spec.ts
  playwright/utils/helpers.ts
Due: none

feat: add dilution summary card and E2E tests (#211)
  docs/README.md
  frontend/__tests__/components/forms/dilution-summary-card.test.tsx
  frontend/components/forms/dilution-summary-card.tsx
  frontend/components/forms/rsu-form.tsx
  playwright/tests/17-completed-rounds.spec.ts
  playwright/utils/helpers.ts
Due: frontend-lint, frontend-typecheck

chore: enable claude-mem plugin (#210)
  .claude/settings.json
Due: none

feat: add UX improvements for empty states, onboarding, and accessibility
  frontend/__tests__/components/form-fields.test.tsx
  frontend/__tests__/components/layout/app-shell.test.tsx
  frontend/__tests__/components/layout/skip-link.test.tsx
  frontend/__tests__/components/onboarding/welcome-modal.test.tsx
  frontend/__tests__/components/results/scenario-results-a11y.test.tsx
  frontend/__tests__/components/ui/live-region.test.tsx
  frontend/__tests__/lib/hooks/use-first-visit.test.ts
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/forms/stock-options-form.tsx
  frontend/components/layout/app-shell.tsx
  frontend/components/layout/skip-link.tsx
  frontend/components/onboarding/welcome-modal.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/ui/live-region.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/hooks/use-first-visit.ts
Due: frontend-lint, frontend-typecheck

test(e2e): add Playwright tests for UX improvements
  frontend/tests/ux-improvements.spec.ts
Due: frontend-lint, frontend-typecheck

fix: address PR review comments
  frontend/components/forms/stock-options-form.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/hooks/use-first-visit.ts
  frontend/playwright-report/index.html
Due: frontend-lint, frontend-typecheck

feat: UX improvements - empty state guidance, onboarding, and accessibility (#212)
  frontend/__tests__/components/form-fields.test.tsx
  frontend/__tests__/components/layout/app-shell.test.tsx
  frontend/__tests__/components/layout/skip-link.test.tsx
  frontend/__tests__/components/onboarding/welcome-modal.test.tsx
  frontend/__tests__/components/results/scenario-results-a11y.test.tsx
  frontend/__tests__/components/ui/live-region.test.tsx
  frontend/__tests__/lib/hooks/use-first-visit.test.ts
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/forms/stock-options-form.tsx
  frontend/components/layout/app-shell.tsx
  frontend/components/layout/skip-link.tsx
  frontend/components/onboarding/welcome-modal.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/ui/live-region.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/hooks/use-first-visit.ts
  frontend/playwright-report/index.html
  frontend/tests/ux-improvements.spec.ts
Due: frontend-lint, frontend-typecheck

feat: add scenario templates for quick start (#152)
  README.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  frontend/__tests__/components/templates/template-picker.test.tsx
  frontend/__tests__/lib/constants/examples.test.ts
  frontend/__tests__/lib/constants/founder-templates.test.ts
  frontend/__tests__/lib/store.test.ts
  frontend/app/page.tsx
  frontend/components/templates/template-picker.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/constants/founder-templates.ts
  frontend/lib/store.ts
Due: frontend-lint, frontend-typecheck

feat: enhance scenario comparison with visual diff and PDF export (#143)
  frontend/__tests__/components/scenarios/scenario-comparison.test.tsx
  frontend/__tests__/lib/comparison-utils.test.ts
  frontend/__tests__/lib/export-utils.test.ts
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/lib/comparison-utils.ts
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

feat: add sensitivity analysis quick-view with tornado chart (#155)
  frontend/__tests__/components/charts/sensitivity-analysis.test.tsx
  frontend/__tests__/components/charts/tornado-chart.test.tsx
  frontend/__tests__/lib/sensitivity-utils.test.ts
  frontend/app/page.tsx
  frontend/components/charts/sensitivity-analysis.tsx
  frontend/components/charts/tornado-chart.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/results/sensitivity-analysis-panel.tsx
  frontend/components/ui/alert.tsx
  frontend/lib/sensitivity-utils.ts
Due: frontend-lint, frontend-typecheck

fix: address PR #213 code review comments
  frontend/CLAUDE.md
  frontend/__tests__/lib/constants/examples.test.ts
  frontend/components/templates/template-picker.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/constants/founder-templates.ts
Due: frontend-lint, frontend-typecheck

fix: address PR #214 code review comments
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/lib/comparison-utils.ts
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

fix: address PR #215 code review comments (16 items)
  frontend/__tests__/components/charts/sensitivity-analysis.test.tsx
  frontend/__tests__/lib/sensitivity-utils.test.ts
  frontend/app/page.tsx
  frontend/components/charts/sensitivity-analysis.tsx
  frontend/components/charts/tornado-chart.tsx
  frontend/components/results/sensitivity-analysis-panel.tsx
  frontend/lib/sensitivity-utils.ts
Due: frontend-lint, frontend-typecheck

feat: add scenario templates for quick start (#152) (#213)
  README.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  frontend/__tests__/components/templates/template-picker.test.tsx
  frontend/__tests__/lib/constants/examples.test.ts
  frontend/__tests__/lib/constants/founder-templates.test.ts
  frontend/__tests__/lib/store.test.ts
  frontend/app/page.tsx
  frontend/components/templates/template-picker.tsx
  frontend/lib/constants/examples.ts
  frontend/lib/constants/founder-templates.ts
  frontend/lib/store.ts
Due: frontend-lint, frontend-typecheck

fix: use const for startY (prefer-const lint rule)
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

fix: add sensitivityMutation to useCallback deps for React Compiler
  frontend/components/results/sensitivity-analysis-panel.tsx
Due: frontend-lint, frontend-typecheck

feat: enhance scenario comparison with visual diff and PDF export (#214)
  frontend/__tests__/components/scenarios/scenario-comparison.test.tsx
  frontend/__tests__/lib/comparison-utils.test.ts
  frontend/__tests__/lib/export-utils.test.ts
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/lib/comparison-utils.ts
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

feat: Add sensitivity analysis quick-view with tornado chart (#215)
  frontend/__tests__/components/charts/sensitivity-analysis.test.tsx
  frontend/__tests__/components/charts/tornado-chart.test.tsx
  frontend/__tests__/lib/sensitivity-utils.test.ts
  frontend/app/page.tsx
  frontend/components/charts/sensitivity-analysis.tsx
  frontend/components/charts/tornado-chart.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/results/sensitivity-analysis-panel.tsx
  frontend/components/ui/alert.tsx
  frontend/lib/sensitivity-utils.ts
Due: frontend-lint, frontend-typecheck

refactor: migrate business logic from frontend to backend API
  CLAUDE.md
  README.md
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/comparison.py
  backend/src/worth_it/calculations/dilution.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_comparison.py
  backend/tests/test_dilution.py
  docs/plans/2025-12-17-backend-business-logic-migration.md
  frontend/__tests__/components/scenarios/scenario-comparison.test.tsx
  frontend/__tests__/lib/comparison-utils.test.ts
  frontend/__tests__/lib/dilution-utils.test.ts
  frontend/components/cap-table/dilution-comparison-charts.tsx
  frontend/components/cap-table/dilution-preview.tsx
  frontend/components/cap-table/dilution-table.tsx
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/lib/api-client.ts
  frontend/lib/comparison-utils.ts
  frontend/lib/dilution-utils.ts
  frontend/lib/export-utils.ts
  frontend/lib/schemas.ts
Due: pyright, frontend-lint, frontend-typecheck

test(e2e): add API validation tests for dilution preview and scenario comparison
  playwright/tests/12-api-validation.spec.ts
Due: none

fix: address PR review comments and lint issues
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/dilution.py
  backend/tests/test_comparison.py
  backend/tests/test_dilution.py
  frontend/__tests__/components/scenarios/scenario-comparison.test.tsx
  frontend/components/cap-table/dilution-preview.tsx
  frontend/components/scenarios/scenario-comparison.tsx
Due: frontend-lint, frontend-typecheck

fix: resolve mypy type errors in comparison.py
  backend/src/worth_it/calculations/comparison.py
Due: none

refactor: migrate business logic from frontend to backend API (#216)
  CLAUDE.md
  README.md
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/comparison.py
  backend/src/worth_it/calculations/dilution.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_comparison.py
  backend/tests/test_dilution.py
  docs/plans/2025-12-17-backend-business-logic-migration.md
  frontend/__tests__/components/scenarios/scenario-comparison.test.tsx
  frontend/__tests__/lib/comparison-utils.test.ts
  frontend/__tests__/lib/dilution-utils.test.ts
  frontend/components/cap-table/dilution-comparison-charts.tsx
  frontend/components/cap-table/dilution-preview.tsx
  frontend/components/cap-table/dilution-table.tsx
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/lib/api-client.ts
  frontend/lib/comparison-utils.ts
  frontend/lib/dilution-utils.ts
  frontend/lib/export-utils.ts
  frontend/lib/schemas.ts
  playwright/tests/12-api-validation.spec.ts
Due: pyright, frontend-lint, frontend-typecheck

feat(ui): simplify Monte Carlo visualization default view (#133)
  frontend/__tests__/components/charts/monte-carlo-visualizations.test.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
Due: frontend-lint, frontend-typecheck

fix: address PR #217 review comments
  frontend/__tests__/components/charts/monte-carlo-visualizations.test.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
Due: frontend-lint, frontend-typecheck

feat(ui): simplify Monte Carlo visualization default view (#133) (#217)
  frontend/__tests__/components/charts/monte-carlo-visualizations.test.tsx
  frontend/components/charts/monte-carlo-visualizations.tsx
Due: frontend-lint, frontend-typecheck

Path conditions:
  pyright: any of: ^backend/src/worth_it/(calculations|api|models)\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
