Repository eyadsibai/worth_it: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: uv run --with pre-commit pre-commit install
# Run manually: uv run --with pre-commit pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python code formatting with ruff (matches CI: ruff check .)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      # Linter - auto-fix issues before commit
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy (matches CI files)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - pandas-stubs
        args: [--ignore-missing-imports]
        files: ^backend/src/worth_it/(calculations|api|models)\.py$

  # Type checking with pyright (matches CI)
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && uv run pyright src/worth_it/calculations.py src/worth_it/api.py src/worth_it/models.py'
        language: system
        files: ^backend/src/worth_it/(calculations|api|models)\.py$
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ['-c', 'backend/pyproject.toml']
        additional_dependencies: ['bandit[toml]']
        files: ^backend/

  # Frontend linting (matches CI: npm run lint)
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat: add SAFE and Convertible Note conversion calculations (#116)
  CLAUDE.md
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_calculations.py
  docs/plans/2025-12-10-safe-note-conversion-design.md
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
  frontend/vitest.config.ts
Due: pyright, frontend-lint, frontend-typecheck

docs: add dilution preview design for issue #110
  docs/plans/2025-12-10-dilution-preview-design.md
Due: none

feat: add dilution preview for priced rounds (#110)
  frontend/__tests__/lib/dilution-utils.test.ts
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/dilution-comparison-charts.tsx
  frontend/components/cap-table/dilution-preview.tsx
  frontend/components/cap-table/dilution-table.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/lib/dilution-utils.ts
Due: frontend-lint, frontend-typecheck

fix: address code review feedback for dilution preview
  frontend/__tests__/lib/dilution-utils.test.ts
  frontend/components/cap-table/dilution-table.tsx
  frontend/lib/dilution-utils.ts
Due: frontend-lint, frontend-typecheck

fix: address PR review comments for accessibility and React keys
  frontend/components/cap-table/dilution-comparison-charts.tsx
  frontend/components/cap-table/dilution-table.tsx
Due: frontend-lint, frontend-typecheck

fix: address remaining PR review comments
  frontend/components/cap-table/dilution-comparison-charts.tsx
  frontend/lib/dilution-utils.ts
Due: frontend-lint, frontend-typecheck

feat: add dilution preview for priced rounds (#117)
  docs/plans/2025-12-10-dilution-preview-design.md
  frontend/__tests__/lib/dilution-utils.test.ts
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/dilution-comparison-charts.tsx
  frontend/components/cap-table/dilution-preview.tsx
  frontend/components/cap-table/dilution-table.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/lib/dilution-utils.ts
Due: frontend-lint, frontend-typecheck

docs: add waterfall analysis design document
  docs/plans/2025-12-11-waterfall-analysis-design.md
Due: none

feat: add waterfall analysis for exit proceeds distribution (#111)
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_calculations.py
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/index.ts
  frontend/components/cap-table/preference-stack-editor.tsx
  frontend/components/cap-table/valuation-slider.tsx
  frontend/components/cap-table/waterfall-analysis.tsx
  frontend/components/cap-table/waterfall-chart.tsx
  frontend/components/cap-table/waterfall-table.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
Due: pyright, frontend-lint, frontend-typecheck

fix: resolve CI lint and type errors for waterfall feature
  backend/src/worth_it/calculations.py
  frontend/components/cap-table/preference-stack-editor.tsx
  frontend/components/cap-table/waterfall-analysis.tsx
  frontend/components/cap-table/waterfall-chart.tsx
  frontend/components/cap-table/waterfall-table.tsx
Due: pyright, frontend-lint, frontend-typecheck

fix: use unknown type with type assertion for Recharts onClick handler
  frontend/components/cap-table/waterfall-chart.tsx
Due: frontend-lint, frontend-typecheck

test: add comprehensive E2E tests for waterfall analysis
  frontend/components/cap-table/waterfall-table.tsx
  playwright/tests/09-waterfall-analysis.spec.ts
Due: frontend-lint, frontend-typecheck

update
  package-lock.json
Due: none

feat: add waterfall analysis for exit proceeds distribution (#118)
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/models.py
  backend/tests/test_api.py
  backend/tests/test_calculations.py
  docs/plans/2025-12-11-waterfall-analysis-design.md
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/index.ts
  frontend/components/cap-table/preference-stack-editor.tsx
  frontend/components/cap-table/valuation-slider.tsx
  frontend/components/cap-table/waterfall-analysis.tsx
  frontend/components/cap-table/waterfall-chart.tsx
  frontend/components/cap-table/waterfall-table.tsx
  frontend/lib/api-client.ts
  frontend/lib/schemas.ts
  package-lock.json
  playwright/tests/09-waterfall-analysis.spec.ts
Due: pyright, frontend-lint, frontend-typecheck

feat: add pro-forma preview, export, and scenario comparison (#112, #113, #114)
  CLAUDE.md
  frontend/__tests__/components/export-menu.test.tsx
  frontend/__tests__/components/pro-forma-cap-table.test.tsx
  frontend/__tests__/components/pro-forma-toggle.test.tsx
  frontend/__tests__/components/scenario-comparison.test.tsx
  frontend/__tests__/components/scenario-manager.test.tsx
  frontend/__tests__/lib/cap-table-export.test.ts
  frontend/__tests__/lib/scenario-utils.test.ts
  frontend/components/cap-table/export-menu.tsx
  frontend/components/cap-table/index.ts
  frontend/components/cap-table/pro-forma-cap-table.tsx
  frontend/components/cap-table/pro-forma-toggle.tsx
  frontend/components/cap-table/scenario-comparison.tsx
  frontend/components/cap-table/scenario-manager.tsx
  frontend/lib/export-utils.ts
  frontend/lib/scenario-utils.ts
  frontend/lib/schemas.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

test: add E2E tests for export and scenario management (#121)
  frontend/app/page.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  playwright.config.ts
  playwright/tests/10-export-functionality.spec.ts
  playwright/tests/11-scenario-management.spec.ts
Due: frontend-lint, frontend-typecheck

fix: address PR review comments from Copilot (#121)
  frontend/__tests__/components/export-menu.test.tsx
  frontend/__tests__/components/pro-forma-cap-table.test.tsx
  frontend/components/cap-table/pro-forma-cap-table.tsx
  frontend/components/cap-table/scenario-comparison.tsx
  frontend/lib/export-utils.ts
  frontend/lib/scenario-utils.ts
Due: frontend-lint, frontend-typecheck

feat: add pro-forma preview, export, and scenario comparison (#112, #113, #114) (#121)
  CLAUDE.md
  frontend/__tests__/components/export-menu.test.tsx
  frontend/__tests__/components/pro-forma-cap-table.test.tsx
  frontend/__tests__/components/pro-forma-toggle.test.tsx
  frontend/__tests__/components/scenario-comparison.test.tsx
  frontend/__tests__/components/scenario-manager.test.tsx
  frontend/__tests__/lib/cap-table-export.test.ts
  frontend/__tests__/lib/scenario-utils.test.ts
  frontend/app/page.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/export-menu.tsx
  frontend/components/cap-table/index.ts
  frontend/components/cap-table/pro-forma-cap-table.tsx
  frontend/components/cap-table/pro-forma-toggle.tsx
  frontend/components/cap-table/scenario-comparison.tsx
  frontend/components/cap-table/scenario-manager.tsx
  frontend/lib/export-utils.ts
  frontend/lib/scenario-utils.ts
  frontend/lib/schemas.ts
  frontend/package-lock.json
  frontend/package.json
  playwright.config.ts
  playwright/tests/10-export-functionality.spec.ts
  playwright/tests/11-scenario-management.spec.ts
Due: frontend-lint, frontend-typecheck

refactor: add form field helpers and InformationBox component
  frontend/__tests__/components/form-fields.test.tsx
  frontend/__tests__/components/information-box.test.tsx
  frontend/__tests__/setup.ts
  frontend/cap-table-2025-12-12.pdf
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/components/cap-table/safe-form.tsx
  frontend/components/cap-table/stakeholder-form.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/ui/information-box.tsx
Due: frontend-lint, frontend-typecheck

refactor: add Zustand store for centralized state management
  frontend/__tests__/lib/store.test.ts
  frontend/app/page.tsx
  frontend/cap-table-2025-12-12.pdf
  frontend/lib/store.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

refactor: consolidate export utilities with shared helpers
  frontend/__tests__/lib/store.test.ts
  frontend/components/forms/form-fields.tsx
  frontend/lib/export-utils.ts
Due: frontend-lint, frontend-typecheck

docs: update CLAUDE.md with new patterns and test counts
  CLAUDE.md
  frontend/cap-table-2025-12-12.pdf
Due: none

fix: import AppMode from store instead of redefining
  frontend/components/mode-toggle.tsx
Due: frontend-lint, frontend-typecheck

chore: add *.pdf to gitignore to prevent generated exports from being committed
  frontend/.gitignore
Due: none

refactor: Code simplification and library consolidation (#120) (#122)
  CLAUDE.md
  frontend/.gitignore
  frontend/__tests__/components/form-fields.test.tsx
  frontend/__tests__/components/information-box.test.tsx
  frontend/__tests__/lib/store.test.ts
  frontend/__tests__/setup.ts
  frontend/app/page.tsx
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/priced-round-form.tsx
  frontend/components/cap-table/safe-form.tsx
  frontend/components/cap-table/stakeholder-form.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/ui/information-box.tsx
  frontend/lib/export-utils.ts
  frontend/lib/store.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

refactor: decompose calculations module and introduce service layer (#123)
  CLAUDE.md
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/base.py
  backend/src/worth_it/calculations/cap_table.py
  backend/src/worth_it/calculations/financial_metrics.py
  backend/src/worth_it/calculations/opportunity_cost.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/calculations/waterfall.py
  backend/src/worth_it/monte_carlo.py
  backend/src/worth_it/services/__init__.py
  backend/src/worth_it/services/cap_table_service.py
  backend/src/worth_it/services/serializers.py
  backend/src/worth_it/services/startup_service.py
  backend/tests/test_api.py
Due: pyright

fix(ci): update type check paths for new module structure
  .github/workflows/test.yml
Due: none

fix: remove dead np.where call in startup_scenario.py
  backend/src/worth_it/calculations/startup_scenario.py
Due: none

refactor: Module decomposition and service layer (#123) (#124)
  .github/workflows/test.yml
  CLAUDE.md
  backend/src/worth_it/api.py
  backend/src/worth_it/calculations.py
  backend/src/worth_it/calculations/__init__.py
  backend/src/worth_it/calculations/base.py
  backend/src/worth_it/calculations/cap_table.py
  backend/src/worth_it/calculations/financial_metrics.py
  backend/src/worth_it/calculations/opportunity_cost.py
  backend/src/worth_it/calculations/startup_scenario.py
  backend/src/worth_it/calculations/waterfall.py
  backend/src/worth_it/monte_carlo.py
  backend/src/worth_it/services/__init__.py
  backend/src/worth_it/services/cap_table_service.py
  backend/src/worth_it/services/serializers.py
  backend/src/worth_it/services/startup_service.py
  backend/tests/test_api.py
Due: pyright

test: add comprehensive E2E integration tests (#119)
  playwright/tests/01-api-health.spec.ts
  playwright/tests/12-api-validation.spec.ts
  playwright/tests/13-calculation-accuracy.spec.ts
  playwright/tests/14-websocket-integration.spec.ts
  playwright/tests/15-cross-feature.spec.ts
  playwright/tests/16-error-handling.spec.ts
  playwright/utils/api-validators.ts
  playwright/utils/calculation-helpers.ts
  playwright/utils/helpers.ts
  playwright/utils/test-data.ts
Due: none

fix: address PR review comments for E2E tests
  playwright/tests/12-api-validation.spec.ts
  playwright/tests/14-websocket-integration.spec.ts
  playwright/tests/15-cross-feature.spec.ts
  playwright/tests/16-error-handling.spec.ts
  playwright/utils/api-validators.ts
  playwright/utils/calculation-helpers.ts
Due: none

fix: remove remaining unused imports and variables
  playwright/tests/13-calculation-accuracy.spec.ts
  playwright/tests/16-error-handling.spec.ts
Due: none

test: add comprehensive E2E integration tests (#125)
  playwright/tests/01-api-health.spec.ts
  playwright/tests/12-api-validation.spec.ts
  playwright/tests/13-calculation-accuracy.spec.ts
  playwright/tests/14-websocket-integration.spec.ts
  playwright/tests/15-cross-feature.spec.ts
  playwright/tests/16-error-handling.spec.ts
  playwright/utils/helpers.ts
  playwright/utils/test-data.ts
Due: none

fix(ux): clarify mode naming from role-based to action-based (#148)
  frontend/app/page.tsx
  frontend/components/layout/sidebar.tsx
  frontend/components/mode-toggle.tsx
Due: frontend-lint, frontend-typecheck

feat: implement Fundcy-style design system
  CLAUDE.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/charts/cumulative-comparison-chart.tsx
  frontend/components/charts/monte-carlo/utils.ts
  frontend/components/charts/opportunity-cost-chart.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/startup-offer-form.tsx
  frontend/components/layout/header.tsx
  frontend/components/layout/sidebar.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/scenarios/scenario-comparison.tsx
  frontend/components/scenarios/scenario-manager.tsx
  frontend/components/ui/currency-display.tsx
  frontend/lib/format-utils.ts
Due: frontend-lint, frontend-typecheck

feat: add toast notification system for user feedback (#178)
  frontend/app/layout.tsx
  frontend/components/cap-table/export-menu.tsx
  frontend/components/results/scenario-results.tsx
  frontend/components/scenarios/scenario-manager.tsx
  frontend/components/ui/sonner.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

feat: add contextual tooltips to form fields (#174)
  frontend/__tests__/components/form-fields.test.tsx
  frontend/components/cap-table/convertible-note-form.tsx
  frontend/components/cap-table/safe-form.tsx
  frontend/components/cap-table/stakeholder-form.tsx
  frontend/components/forms/current-job-form.tsx
  frontend/components/forms/form-fields.tsx
  frontend/components/forms/rsu-form.tsx
  frontend/components/forms/stock-options-form.tsx
  frontend/components/ui/tooltip.tsx
  frontend/lib/constants/tooltips.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck

chore: add missing validation utilities and tests
  frontend/__tests__/integration/stock-options-validation.test.tsx
  frontend/__tests__/lib/validation.test.ts
  frontend/lib/validation.ts
Due: frontend-lint, frontend-typecheck

feat: add shorthand number parsing with thousand separators (#167)
  frontend/__tests__/components/form-fields.test.tsx
  frontend/__tests__/lib/format-utils.test.ts
  frontend/components/forms/form-fields.tsx
  frontend/lib/format-utils.ts
Due: frontend-lint, frontend-typecheck

feat: add confirmation dialogs for destructive actions (#159)
  frontend/__tests__/components/confirmation-dialog.test.tsx
  frontend/__tests__/components/scenario-manager.test.tsx
  frontend/components/cap-table/cap-table-manager.tsx
  frontend/components/cap-table/funding-rounds-manager.tsx
  frontend/components/cap-table/scenario-manager.tsx
  frontend/components/scenarios/scenario-manager.tsx
  frontend/components/ui/alert-dialog.tsx
  frontend/components/ui/confirmation-dialog.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck
